[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flask-debugtoolbar = "*"
autopep8 = "*"
ipython = "*"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
email-validator = "*"
flask-bcrypt = "*"
gunicorn = "*"
requests = "*"
sentry-sdk = {extras = ["flask"],version = "==0.17.1"}
newrelic = "*"
boto3 = "*"
flask-migrate = "*"
google-auth = "*"

[requires]
python_version = "3.8"
