{% extends 'base.html' %}

<title>{% block title %}LogIn{% endblock %}</title>

<head>
  {% block head %}
  <meta name="description" content="User login page." />
  <meta
    name="google-signin-client_id"
    content="992789148520-btgg6dtlrk8rkght89rfvdbfgu2ljeut.apps.googleusercontent.com"
  />
  <link rel=“canonical” href=“https://gastronaut.life/user/login" />
  <script src="/static/js/googleLogin.js" async defer></script>
  <script src="/static/js/showPassword.js" async defer></script>
  {% endblock %}
</head>

<main>
  {% block main %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 col-xl-6">
        <div class="my-5 p-3 p-md-5 bg-secondary rounded ssp txt-medium">
          <h4 class="museo text-warning mb-3">Log In</h4>
          <form method="POST">
            {% include 'include/include_form.html' with context %}
            <a
              href="{{signup_url}}"
              class="mt-3 btn btn-outline-warning border-0"
              >go to signup</a
            >
            <button
              type="submit"
              class="btn btn-outline-primary mt-3 float-right font-weight-bold"
            >
              Log In
            </button>
          </form>
          <hr class="mt-4" />
          <div class="text-center my-4">- OR -</div>
          <div class="text-center">
            <script
              src="https://accounts.google.com/gsi/client"
              async
              defer
            ></script>
            <div
              id="g_id_onload"
              data-client_id="992789148520-btgg6dtlrk8rkght89rfvdbfgu2ljeut.apps.googleusercontent.com"
              data-callback="onGoogleSignIn"
            ></div>
            <div class="g_id_signin d-inline-block" data-type="standard"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</main>
