<section class="text-center txt-white-k card-columns museo">
  {% if missions %} {% for mission in missions %}
  <div
    class="card d-inline-block m-2 text-left mb-3 mb-lg-4 card-shadow-slight"
  >
    <div class="card-body">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        {{mission.name}}
      </h5>
      <h5 class="lead text-info black-outline-1"><small>Mission</small></h5>
      <div class="card-text ssp">
        {% if mission.author.username != "Former User" %}
        <a href="/user/profile/{{mission.author.username}}">
          <em class="text-warning black-outline-1 font-weight-bold">
            by @{{mission.author.username}}</em
          >
        </a>
        {% else %}
        <em class="text-warning black-outline-1 font-weight-bold">
          by @{{mission.author.username}}</em
        >
        {% endif %}
        <div class="txt-smlr">
          {{mission.date_shared.strftime('%a %b %d, %Y')}}
        </div>
        <div class="txt-smlr">{{mission.city}} {{mission.state}}</div>
      </div>
      {% if mission.description %}
      <p class="card-text txt-green-alt black-outline-1 mt-3">
        <em>{{mission.description}}</em>
      </p>
      {% endif %}
    </div>
    <ul class="list-group list-group-flush">
      {% for business in mission.businesses %}
      <li
        class="list-group-item detailsBtn"
        data-id="{{business.id}}"
        data-name="{{business.name}}"
        data-latlng="{{business.latitude}},{{business.longitude}}"
      >
        {{business.name}}
      </li>
      {% endfor %}
    </ul>
    <div class="card-footer">
      {% if not g.user %}
      <button
        type="button"
        class="like-button text-primary signLogBtn"
        data-toggle="modal"
        data-target="#signupModal"
        data-next_url="{{request_full_path}}"
      >
        <i class="far fa-thumbs-up fa-lg"></i>
      </button>
      {% elif mission.editor == g.user.id %}
      <i class="fas fa-thumbs-up fa-lg text-primary"></i>
      {% else %}
      <a
        href="#"
        class="card-link like-mission"
        data-mission_id="{{mission.id}}"
      >
        <span class="">
          {% if g.user.id in mission.likes %}
          <i class="fas fa-thumbs-up fa-lg"></i>
          <i class="far fa-thumbs-up fa-lg" style="display: none"></i>
          {% else %}
          <i class="far fa-thumbs-up fa-lg"></i>
          <i class="fas fa-thumbs-up fa-lg" style="display: none"></i>
          {% endif %}
        </span>
      </a>
      {% endif %}
      <span class="px-3 text-dark likes"> {{mission.likes | length}} </span>
      {% if not g.user %}
      <button
        type="button"
        class="like-button text-primary float-right signLogBtn"
        data-toggle="modal"
        data-target="#signupModal"
        data-next_url="{{request_full_path}}"
      >
        Add to Missions
      </button>
      {% else %}
      <a
        href="/v1/add_mission/{{mission.id}}"
        class="add-mission float-right card-link ml-3"
        data-mission_id="{{mission.id}}"
        >Add to Missions</a
      >
      {% endif %}
    </div>
  </div>
  {% endfor %} {% elif request.endpoint in ['user_views.user_detail'] %}
  <div class="card d-inline-block m-2 text-left card-shadow-slight">
    <div class="card-body">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        Missions you create and share will appear here
      </h5>
      <h5 class="lead text-info black-outline-1"><small>Mission</small></h5>
      <div class="card-text ssp">
        <em class="text-warning font-weight-bold black-outline-1">
          by @gastronaut</em
        >
        <div class="txt-smlr">Wed Jul 3, 2020</div>
        <div class="txt-smlr">San Francisco CA</div>
      </div>
      <p class="card-text txt-green-alt black-outline-1 mt-3">
        <em>Your mission description will go here.</em>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">I'm a mission goal</li>
      <li class="list-group-item">Another goal</li>
      <li class="list-group-item">
        Goals are restaurants or bars on your gastronomical mission
      </li>
    </ul>
    <div class="card-footer">
      <span class="text-primary">
        <i class="fas fa-thumbs-up fa-lg"></i>
      </span>
      <span class="px-3 text-dark likes"> 257 </span>
      <span class="text-primary float-right"> Add to Missions </span>
    </div>
  </div>
  <div class="card d-inline-block m-2 text-left card-shadow-slight">
    <div class="card-body">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        I'm another shared mission!
      </h5>
      <h5 class="lead text-info black-outline-1"><small>Mission</small></h5>
      <div class="card-text ssp">
        <em class="text-warning font-weight-bold black-outline-1">
          by @gastronaut</em
        >
        <div class="txt-smlr">Wed Jul 3, 2020</div>
        <div class="txt-smlr">San Francisco CA</div>
      </div>
      <p class="card-text txt-green-alt black-outline-1 mt-3">
        <em>Your mission description will go here.</em>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">I'm a mission goal</li>
      <li class="list-group-item">Another goal</li>
      <li class="list-group-item">
        Goals are restaurants or bars on your gastronomical mission
      </li>
    </ul>
    <div class="card-footer">
      <span>
        <i class="fas fa-thumbs-up fa-lg text-primary"></i>
      </span>
      <span class="px-3 text-dark likes"> 6437 </span>
      <span class="text-primary float-right"> Add to Missions </span>
    </div>
  </div>
  {% else %}
  <div
    class="card d-inline-block my-2 mx-1 text-center mb-3 mb-lg-4 card-shadow-slight"
  >
    <div class="card-header pt-3">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        <span class="txt-white-k hover-primary"> >_< </span>
      </h5>
    </div>
  </div>
  <div
    class="card d-inline-block my-2 mx-1 text-center mb-3 mb-lg-4 card-shadow-slight"
  >
    <div class="card-header pt-3">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        <span class="text-info hover-primary"> Nothing Found! </span>
      </h5>
    </div>
  </div>
  <div
    class="card d-inline-block my-2 mx-1 text-center mb-3 mb-lg-4 card-shadow-slight"
  >
    <div class="card-header pt-3">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        <span class="txt-white-k hover-primary"> >_< </span>
      </h5>
    </div>
  </div>
  {% endif %}
</section>
