{{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
'hidden' %}

<div class="form-group">
  {{ field.label }} {% if field.flags.required %}*{% endif %} {% if field.type
  == "TextAreaField" %} {% if field.name == 'bio' %}
  {{field(class_="form-control", rows=8, maxlength=500) }} {% else %}
  {{field(class_="form-control", rows=8) }} {% endif %} {% elif field.type ==
  'FileField' %}{% if field.object_data %}
  <div class="mb-1 txt-smlr">
    Current File:
    <span class="text-info">{{field.object_data[93:]}}</span>
  </div>
  {% endif %} {{field(class_="form-control") }} {% else %}
  {{field(class_="form-control") }} {% endif %}
  <small>{{field.description}}</small> {% for error in field.errors %}
  <b class="form-text text-warning mt-0">
    {{ error }}
  </b>
  {% endfor %}
</div>

{% endfor %}
