{% from '/macros/report_text.html' import report_text with context %}

<section class="text-center txt-white-k card-columns">
  {% for report in reports %}
  <div class="card d-inline-block m-2 text-left">
    <div class="card-header">
      {% if report.business_id %}{% set b = report.business %}
      <h5
        class="card-title font-weight-bold detailsBtn hover-primary"
        data-id="{{b.id}}"
      >
        {{b.name}}
      </h5>
      <h5 class="lead txt-green"><small>Business</small></h5>
      {% else %} {% set m = report.mission %}
      <h5 class="card-title font-weight-bold">
        <a class="txt-white-k hover-primary" href="/missions/{{m.id}}">
          {{m.name}}
        </a>
      </h5>
      <h5 class="lead text-info"><small>Mission</small></h5>
      {% endif %}
      <div class="card-text">
        <a href="/user/profile/{{report.user.id}}">
          <em class="txt-orange"> by @{{report.user.username}}</em>
        </a>
        <div class="txt-smlr">
          {{report.submitted_on.strftime('%a %b %w, %Y')}}
        </div>
      </div>
    </div>
    <div class="card-body">
      {{report_text(report)}} {% if report.image_url %}
      <div class="flx-std">
        <img src="{{report.image_url}}" alt="User Image" class="img-fluid" />
      </div>
      {% endif %}
    </div>

    <div class="card-footer">
      {% if not g.user %}
      <button
        type="button"
        class="like-button text-primary"
        data-toggle="modal"
        data-target="#signupModal"
      >
        <i class="far fa-thumbs-up fa-lg"></i>
      </button>
      {% elif report.user_id == g.user.id %}
      <i class="fas fa-thumbs-up fa-lg text-primary"></i>
      {% else %}
      <a href="#" class="card-link like-report" data-report_id="{{report.id}}">
        <span class="">
          {% if g.user.id in report.likes %}
          <i class="fas fa-thumbs-up fa-lg"></i>
          <i class="far fa-thumbs-up fa-lg" style="display: none;"></i>
          {% else %}
          <i class="far fa-thumbs-up fa-lg"></i>
          <i class="fas fa-thumbs-up fa-lg" style="display: none;"></i>
          {% endif %}
        </span>
      </a>
      <span class="px-3 text-dark likes">
        {{ report.likes | length}}
      </span>
      {% endif %} {% if report.user_id == g.user.id %}
      <a
        href="/report/{{report.id}}/edit?next={{request.endpoint}}&next_view_args={{view_args}}"
        class="btn btn-sm btn-outline-primary float-right px-3 ml-4 ml-sm-1 ml-md-4"
        >Edit Report</a
      >
      {% endif %} {% if not request.endpoint == 'report_detail' %}
      <a href="/report/{{report.id}}" class="card-link float-right"
        >Read More</a
      >
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
