<div
  class="modal fade"
  id="tips-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="tipsLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title txt-warning museo" id="tipsLabel">
          Hey...
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="txt-lg mb-4 font-weight-bold">
          <em>It looks like you're new here.</em>
        </p>
        <p>
          You can use the detect location button to share your location. Or you
          can just enter a location.
        </p>
        <div
          class="flx-row-around width-100 bg-dark rounded mb-4"
          style="height: 50px;"
        >
          <div class="bg-light rounded p-2">
            <i class="fas fa-street-view"></i>
          </div>
          <div class="text-light tip-label">Detect Location</div>
        </div>
        <p>
          You can also click the clear all filters button to clear any search
          filters.
        </p>
        <div
          class="flx-row-around width-100 bg-dark rounded mb-3"
          style="height: 50px;"
        >
          <div class="bg-light rounded p-2">
            <i class="fas fa-recycle"></i>
          </div>
          <div class="text-light tip-label">Clear All Filters</div>
        </div>
        <div
          class="flx-row-around width-100 bg-dark rounded mb-4"
          style="height: 50px;"
        >
          <div class="bg-light rounded p-2">
            <i class="fas fa-filter txt-warning dark-outline-1"></i>
          </div>
          <div class="text-light tip-label">Filters Active Indicator</div>
        </div>
        <p class="txt-lg font-weight-bold">Map</p>
        <p>
          <span class="pr-1">Desktop:</span> Use the second mouse button or the
          Ctrl/Command key with a mouse drag to rotate and/or tilt the map.
        </p>
        <p>
          <span class="pr-1">Mobile:</span> Putting two fingers on the screen
          and immediately sliding up or down changes the tilt.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary moreTips"
          data-dismiss="modal"
        >
          More Tips
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="tips-2-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newUserModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title txt-warning museo" id="newUserModalLabel2">
          Tips
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="flx-row-around width-100 bg-dark rounded mb-4"
          style="height: 50px;"
        >
          <div class="bg-trans-b rounded p-2 border border-secondary">
            <i class="fas fa-angle-double-left fa-lg"></i>
          </div>
          <div class="bg-trans-b rounded p-2 border border-secondary">
            <i class="fas fa-angle-double-right fa-lg"></i>
          </div>
          <div class="text-light tip-label">Toggle Sidebar</div>
        </div>
        <div
          class="flx-row-around width-100 bg-dark rounded mb-4"
          style="height: 50px;"
        >
          <div class="p-2 hidden">
            <i class="fas fa-map-marked-alt fa-lg"></i>
          </div>
          <div class="bg-white txt-333 rounded p-2">
            <i class="fas fa-map-marked-alt fa-lg"></i>
          </div>
          <div class="text-light tip-label">Toggle Map</div>
        </div>
        <div
          class="flx-row-around width-100 bg-dark rounded txt-333 mb-5"
          style="height: 50px;"
        >
          <div class="bg-white rounded p-2">
            <i class="far fa-arrow-alt-circle-up fa-lg"></i>
          </div>
          <div class="bg-white rounded p-2">
            <i class="far fa-arrow-alt-circle-down fa-lg"></i>
          </div>
          <div class="text-light tip-label">Toggle Cards</div>
        </div>
        <p class="text-lg">Recommended:</p>
        <p>
          On mobile save app to your home screen for best user experience. The
          permanent full-screen allows better interaction with the user
          interface.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
