<div class="map-routing mapBtns">
  <div
    class="drive flx-std directionsBtn"
    data-profile="driving-traffic"
    data-toggle="tooltip"
    title="Driving Directions"
  >
    <i class="fas fa-car fa-2x"></i>
  </div>
  <div
    class="walk flx-std directionsBtn"
    data-profile="walking"
    data-toggle="tooltip"
    title="Walking Directions"
  >
    <i class="fas fa-walking fa-2x"></i>
  </div>
  <div
    class="bike flx-std directionsBtn"
    data-profile="cycling"
    data-toggle="tooltip"
    title="Cycling Directions"
  >
    <i class="fas fa-bicycle fa-2x"></i>
  </div>
  <div
    style="display: none;"
    {%
    if
    g.user
    and
    g.user.preferences.home_address
    %}
    class="home loggedIn flx-std"
    data-lng="{{g.user.preferences.home_coords[0]}}"
    data-lat="{{g.user.preferences.home_coords[1]}}"
    {%
    elif
    g.user
    %}
    class="home loggedIn flx-std"
    {%
    else
    %}
    class="home flx-std signLogBtn"
    data-toggle="modal"
    data-target="#signupModal"
    data-next_url="/"
    {%
    endif
    %}
  >
    <div data-toggle="tooltip" title="Go Home">
      <i class="fas fa-home fa-2x"></i>
    </div>
  </div>
  <div
    class="reset flx-std"
    style="display: none;"
    data-toggle="tooltip"
    title="End Directions Routing"
  >
    <i class="fas fa-times fa-2x"></i>
  </div>
</div>
