{% from '/macros/report_text.html' import report_text with context %}

<section class="text-center txt-white-k card-columns museo">
  {% if reports %} {% for report in reports %}
  <div
    class="card d-inline-block my-2 mx-1 text-left mb-3 mb-lg-4 reportCard"
    data-id="{{report.id}}"
  >
    <div class="card-header pt-3">
      {% if report.business_id %}{% set b = report.business %}
      <h5
        class="card-title font-weight-bold black-outline-1-2 detailsBtn hover-primary mb-0"
        data-id="{{b.id}}"
      >
        {{b.name}}
      </h5>
      <h5 class="lead txt-green black-outline-1">
        <small>Business Report</small>
      </h5>
      {% else %} {% set m = report.mission %}
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        <a class="txt-white-k hover-primary" href="/missions/{{m.id}}">
          {{m.name}}
        </a>
      </h5>
      <h5 class="lead text-info black-outline-1">
        <small>Mission Report</small>
      </h5>
      {% endif %}
      <div class="card-text ssp">
        <a href="/user/profile/{{report.user.username}}">
          <em class="txt-warning black-outline-1 font-weight-bold">
            by @{{report.user.username}}</em
          >
        </a>
        <div class="txt-smlr ssp">
          {{report.submitted_on.strftime('%a %b %d, %Y')}}
        </div>
        <div class="txt-smlr ssp">
          {% if m %} {{m.city}} {{m.state}} {% else %} {{b.city}} {{b.state}} {%
          endif %}
        </div>
      </div>
    </div>
    <div class="card-body">
      {{report_text(report)}} {% if report.image_url %}
      <div class="flx-std">
        <img src="{{report.image_url}}" alt="User Image" class="img-fluid" />
      </div>
      {% endif %}
    </div>

    <div class="card-footer">
      {% if not g.user %}
      <button
        type="button"
        class="like-button text-primary signLogBtn"
        data-toggle="modal"
        data-target="#signupModal"
        data-next_url="{{request_full_path}}"
      >
        <i class="far fa-thumbs-up fa-lg"></i>
      </button>
      {% elif report.user_id == g.user.id %}
      <span>
        <i class="fas fa-thumbs-up fa-lg text-primary"></i>
      </span>
      {% else %}
      <a
        href="#"
        class="card-link like-report"
        data-report_id="{{report.id}}"
        data-business_id="{{report.business_id}}"
      >
        <span class="">
          {% if g.user.id in report.likes %}
          <i class="fas fa-thumbs-up fa-lg"></i>
          <i class="far fa-thumbs-up fa-lg" style="display: none;"></i>
          {% else %}
          <i class="far fa-thumbs-up fa-lg"></i>
          <i class="fas fa-thumbs-up fa-lg" style="display: none;"></i>
          {% endif %}
        </span>
      </a>
      {% endif %}
      <span class="pl-1 pl-md-3 text-dark likes">
        {{ report.likes | length}}
      </span>
      {% if report.user_id == g.user.id %}
      <a
        href="/report/{{report.id}}/edit?cancel_url={{request_full_path}}"
        class="btn btn-sm btn-outline-primary float-right px-3 px-sm-2 px-md-3 ml-3 ml-md-4 mb-2"
        >Edit Report</a
      >
      {% endif %} {% if not request.endpoint == 'report_detail' and report.text
      | length > 500 %}
      <a href="/report/{{report.id}}" class="card-link float-right"
        >Read More</a
      >
      {% endif %}
    </div>
  </div>
  {% endfor %} {% elif request.endpoint in ['user_detail'] %}

  <div class="card d-inline-block my-2 mx-1 text-left mb-3 mb-lg-4">
    <div class="card-header pt-3">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        <span class="txt-white-k hover-primary">
          Reports about businesses will look like this
        </span>
      </h5>
      <h5 class="lead txt-green black-outline-1">
        <small>Business Report</small>
      </h5>
      <div class="card-text ssp">
        <em class="txt-warning black-outline-1 font-weight-bold">
          by @gastronaut</em
        >
        <div class="txt-smlr ssp">
          Wed Jul 3, 2020
        </div>
        <div class="txt-smlr ssp">
          San Francisco CA
        </div>
      </div>
    </div>
    <div class="card-body">
      <p>Have an opinion? Your report text will appear here.</p>
    </div>
    <div class="card-footer">
      <span>
        <i class="fas fa-thumbs-up fa-lg text-primary"></i>
      </span>
      <span class="px-3 text-dark likes">
        58
      </span>
      <span class="card-link float-right text-primary">
        Read More
      </span>
    </div>
  </div>
  <div class="card d-inline-block my-2 mx-1 text-left mb-3 mb-lg-4">
    <div class="card-header pt-3">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        <span class="txt-white-k hover-primary">
          Reports about missions will look like this
        </span>
      </h5>
      <h5 class="lead text-info black-outline-1">
        <small>Mission Report</small>
      </h5>
      <div class="card-text ssp">
        <em class="txt-warning black-outline-1 font-weight-bold">
          by @gastronaut</em
        >
        <div class="txt-smlr ssp">
          Wed Jul 3, 2020
        </div>
        <div class="txt-smlr ssp">
          San Francisco CA
        </div>
      </div>
    </div>
    <div class="card-body">
      <p>Have a photo? You can include that too!</p>
    </div>
    <div class="card-footer">
      <span>
        <i class="fas fa-thumbs-up fa-lg text-primary"></i>
      </span>
      <span class="px-3 text-dark likes">
        137
      </span>
      <span class="card-link float-right text-primary">
        Read More
      </span>
    </div>
  </div>
  {% else %}
  <div class="card d-inline-block my-2 mx-1 text-center mb-3 mb-lg-4">
    <div class="card-header pt-3">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        <span class="txt-white-k hover-primary">
          >_<
        </span>
      </h5>
    </div>
  </div>
  <div class="card d-inline-block my-2 mx-1 text-center mb-3 mb-lg-4">
    <div class="card-header pt-3">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        <span class="text-info hover-primary">
          Nothing Found!
        </span>
      </h5>
    </div>
  </div>
  <div class="card d-inline-block my-2 mx-1 text-center mb-3 mb-lg-4">
    <div class="card-header pt-3">
      <h5 class="card-title font-weight-bold black-outline-1-2 mb-0">
        <span class="txt-white-k hover-primary">
          >_<
        </span>
      </h5>
    </div>
  </div>
  {% endif %}
</section>
