<div
  class="modal fade ssp txt-medium"
  id="preferencesModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="preferencesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {% if g.user %}
      <div class="modal-header">
        <h5 class="modal-title text-warning museo" id="preferencesModalLabel">
          Preferences
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% from '/macros/preferences_check.html' import preferences_check with
        context %}{% set preferences = g.user.preferences %}

        <form id="preferences-boolean" action="#" class="mb-4">
          <h5 class="txt-xl text-dark mb-4">
            <strong>Gastronaut Explore</strong>
          </h5>
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              name="show_alcohol"
              id="show_alcohol"
              class="custom-control-input"
              {{
              preferences_check(preferences.show_alcohol)
              }}
            />
            <label
              for="show_alcohol"
              class="custom-control-label txt-white-k txt-medium d-block"
              >Show Alcohol
              <small class="ml-2">(Bars, Breweries, etc.)</small></label
            >
            <small class="help-text"
              >Takes effect on next home page load.</small
            >
          </div>
          <input type="hidden" name="boolean" value="true" />
        </form>
        <hr />
        <form id="preferences-text" action="#" class="mt-4">
          <h5 class="txt-xl text-dark mb-3">
            <strong>Navigation</strong>
          </h5>
          <div class="form-group border border-secondary rounded p-2">
            <label for="home_address_official" class="txt-medium txt-white-k"
              >Home Address<span class="float-right txt-sm m-1"
                ><a href="#">Clear</a></span
              ></label
            >
            <input
              type="text"
              name="home_address_official"
              id="home_address_official"
              class="form-control mb-2"
              readonly
              placeholder="{{preferences.home_address}}"
              value="{{preferences.home_address}}"
            />
            <label for="home_address"
              >Enter address then select matching official address.</label
            >
            <input
              type="text"
              name="home_address"
              id="home_address"
              class="form-control"
              placeholder="Enter home address"
              autocomplete="off"
              list="datalist-home_address"
            />
            <small class="form-text"
              >Don't use road abbreviations, use whole word - street, avenue,
              lane, etc.</small
            >
            <small class="form-text">Enter proper address with commas.</small>
            <datalist id="datalist-home_address"></datalist>
          </div>
          <input type="hidden" name="home_coords" id="home_coords" />
        </form>
      </div>
      <div class="modal-footer" style="position: relative">
        <div class="feedback txt-green"></div>
        <button
          type="button"
          class="btn btn-outline-secondary txt-white-k"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
      {% else %}
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="missionsModalTitle">
          Preferences
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="txt-whitesmoke">
          <em>You must sign up or login to change preferences!</em>
        </p>
        <a
          class="btn btn-lg btn-outline-primary"
          href="/signup?next_url={{request_full_path}}"
          >Sign Up</a
        >
        <span class="px-4">- OR -</span>
        <a
          class="btn btn-lg btn-outline-primary"
          href="/login?next_url={{request_full_path}}"
          >Log in</a
        >
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary txt-white-k"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
