.spinner-zone {
  position: fixed;
  top: 0;
  width: 50px;
  left: calc(50vw - 25px);
  height: 53px;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.76);
}

#main-hero {
  height: 45vh;
  overflow: hidden;
  opacity: 0.7;
}

.middle-gap {
  background-color: var(--light);
  margin-top: 0px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65),
    inset 0px 1px 5px rgba(184, 182, 182, 0.589);
  min-height: 60px;
  width: 100%;
}

.card {
  width: 90%;
  display: inline-block;
}

.card h5.lead {
  margin-bottom: 15px;
}

.card-link:focus,
.card-footer button:focus {
  outline: none;
}

.like-button {
  background-color: transparent;
  border: none;
}

#business-detail-modal {
  z-index: 10000;
}

#business-detail-modal .modal-header .close {
  margin: -1rem -1rem;
}

.modal-header .close {
  border-radius: 0.3rem;
}

.detail-modal-img-div {
  height: 70vh;
}

.modal-backdrop.show {
  opacity: 0.95;
  background-color: var(--primary-alt);
}

#business-detail-modal table {
  color: #adafae;
  font-size: smaller;
}

#business-detail-modal th {
  padding: 0px 10px;
}

#business-detail-modal td {
  padding: 2px 3px;
}

#business-detail-modal .modal-footer {
  justify-content: space-between;
}

.detail-close-btn {
  line-height: 1.3;
}

.card-shadow {
  box-shadow: #0000003d 0px 0px 10px;
}

.toasts-zone {
  position: fixed;
  bottom: 0;
  right: 10px;
  min-height: 100px;
}

@media screen and (min-width: 576px) {
  .card {
    width: 90%;
  }
  .toasts-zone {
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .toasts-zone {
    right: 30px;
  }
  #business-detail-modal table {
    font-size: unset;
  }
  #business-detail-modal td {
    padding: 2px 3px;
  }
}

@media screen and (min-width: 992px) {
  .toasts-zone {
    right: 40px;
  }
  .card {
    width: 85%;
  }
}

@media (hover: hover) {
  .hover-primary:hover {
    color: #2a9fd6 !important;
  }
}
