/* ====================== General */

.avatar-col {
  padding: 0px;
  position: static;
}

#profile-avatar {
  margin-top: -18px;
  display: inline-block;
  border-radius: 100%;
  border: 5px solid #ccc;
  width: 140px;
  height: 100px;
  z-index: 1;
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  position: relative;
}

.middle-gap {
  position: absolute;
}

.user-stats {
  background: #530b0bdf;
  border-radius: 5px;
  margin: 25px 4vw 0;
  padding-bottom: 5px;
  justify-content: center;
}

.user-stats > li.li-edit {
  display: flex;
  align-items: center;
}

.user-stats > .ml-5 .btn {
  min-width: 105px;
  padding: 6px 16px;
}

.stat {
  text-align: center;
  height: 60px;
  box-sizing: border-box;
  padding: 14px 7px 7px;
  line-height: 1;
}

.stat > .small {
  font-weight: bold;
  font-size: 8px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}

.stat > .small + h4 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
}

#sidebar-username {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  word-wrap: break-word;
}

.byline {
  white-space: nowrap;
}

.user-location {
  position: relative;
}

.user-location .fa-map-marker {
  position: absolute;
  top: 6px;
}

.user-location .location {
  margin-left: 27px;
  font-size: small;
}

/* move avatar above middle gap small screen */
main div.container > div.row.justify-content-end {
  margin-top: -98px;
}

/*first instance of pills-tab hidden on xs screens.*/
#pills-tab {
  display: none;
}

.sticky {
  position: relative;
}

@media screen and (min-width: 576px) {
  #profile-avatar {
    margin-top: -33px;
  }
  main div.container > div.row.justify-content-end {
    margin-top: 0px;
  }
  .user-stats {
    background: transparent;
    margin: 0px;
    justify-content: start;
  }
  .stat > .small {
    font-size: 10px;
  }
  .byline {
    white-space: normal;
  }
  .card-columns {
    column-count: 1;
  }
  div[role='tablist'] .nav-link,
  .user-location .location,
  .byline {
    font-size: x-small;
  }
  #pills-tab {
    display: block;
  }
  #pills-tab-2 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #profile-avatar {
    width: 163px;
    height: 116px;
    margin-top: -46px;
  }
  .stat > .small {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  #profile-avatar {
    width: 240px;
    height: 171px;
    margin-top: -100px;
  }
  .user-stats {
    margin-left: 20px;
  }
  .stat {
    padding: 14px 15px 7px;
  }
  #sidebar-username {
    font-size: 2rem;
  }
  .user-location .location {
    margin-left: 27px;
    font-size: medium;
  }
  .card-columns {
    column-count: 2;
  }
  div[role='tablist'] .nav-link,
  .user-location .location,
  .byline {
    font-size: initial;
  }
}

@media screen and (min-width: 1200px) {
  #profile-avatar {
    margin-top: -120px;
    width: 280px;
    height: 200px;
  }
}
