.hero-animation {
  height: var(--vh-minus-navbar);
  color: white;
  font-family: 'MuseoModerno', cursive;
}

.hero-animation > div.row {
  height: 100%;
}

.hero-animation h1 {
  font-weight: 900;
}

.hero-animation h2 {
  font-weight: 200;
}
/* Gastronaut lettering */
.z-text {
  transform: rotateX(12deg);
}
.z-layer:not(:first-child) {
  color: #1e1e20;
  text-shadow: none;
}
.z-layer:last-child {
  color: rgb(173, 120, 20);
}

.hero-lead {
  max-width: 80%;
}

main {
  position: relative;
}

.bg-stars1 {
  background: url('https://d1mhc0bouqz8wk.cloudfront.net/static/images/stars2.jpg'),
    black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.control-panel {
  transition: all 0.4s;
  overflow: hidden;
}

.main-form-div {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--my-secondary);
}

#main-interface,
.main-form-div,
.card-map-zone,
#scrl2,
#scrl3 {
  height: var(--vh-minus-navbar);
  overflow-y: auto;
  overflow-x: hidden;
  font-family: var(--font-main);
}

#scrl3 {
  padding: 0 !important;
  font-size: 1rem;
  position: relative;
}

#scrl2::-webkit-scrollbar,
#scrl4::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
}

.my-card::-webkit-scrollbar {
  width: 4px;
}

#scrl1::-webkit-scrollbar,
#scrl3::-webkit-scrollbar,
#directions-text::-webkit-scrollbar {
  width: 6px;
  background-color: var(--light);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#scrl4::-webkit-scrollbar:horizontal {
  height: 6px;
}

#scrl1::-webkit-scrollbar-thumb,
#scrl3::-webkit-scrollbar-thumb,
#scrl4::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 3px;
}

#directions-text::-webkit-scrollbar-thumb {
  background-color: var(--warning);
  border-radius: 3px;
}

.my-card::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 2px;
}

#scrl1::-webkit-scrollbar-thumb:hover,
#scrl3::-webkit-scrollbar-thumb:hover,
#scrl4::-webkit-scrollbar-thumb:hover,
.my-card::-webkit-scrollbar-thumb:hover {
  background-color: var(--warning);
}

#directions-text::-webkit-scrollbar-thumb:hover {
  background-color: #ff6701;
}

.white-a {
  color: whitesmoke;
}

form h5.museo {
  color: var(--warning);
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: 200;
}

form label.results-label {
  width: 38px;
}

form label {
  font-family: var(--font-main);
  width: 100%;
  font-weight: 600;
}

.form-num-display {
  height: 19px;
  width: 45px;
  background-color: whitesmoke;
  text-align: center;
  font-size: 18px;
  line-height: 0.95;
  border-radius: 5px;
  display: inline-block;
  text-shadow: none;
}

.filter-icon-display {
  display: none;
}

.cat-btn {
  color: whitesmoke !important;
  transition: transform 0.2s !important;
  font-style: italic;
  font-family: var(--font-main);
  background-color: var(--my-info);
}

.list-group-item.active {
  transform: scale(1.3);
  /* color: var(--warning) !important; */

  border: none;
}
button.cat-btn.active {
  font-weight: 900 !important;
  background-color: var(--warning) !important;
  text-shadow: black 1px 1px 2px, black -1px -1px 1px, black 1px -1px 2px,
    black -1px 1px 1px;
}
a.first-letter.active {
  background-color: var(--light);
  text-shadow: black 1px 1px 1px, black -1px -1px 1px, black 1px -1px 1px,
    black -1px 1px 1px;
  /* color: var(--my-info);
  text-shadow: none; */
}

.first-letter {
  padding: 0.7vh !important;
  transition: all 0.2s !important;
  /* background-color: #211212; */
}

.card-map-zone {
  display: grid;
  padding: 0;
  grid-template-rows: auto 50%;
  grid-template-columns: auto;
  grid-template-areas:
    'card-track'
    'map-track';
}

.card-map-zone.map-collapse {
  grid-template-rows: auto 0px;
}

.card-map-zone.cards-collapse {
  grid-template-rows: auto 100%;
}

.sidebar-toggle-btn {
  position: absolute;
  left: -5px;
  top: 30vh;
  font-size: 4vh;
  z-index: 100;
  border-radius: 0px 10px 10px 0px;
}

.filter-display {
  position: absolute;
  height: 23px;
  width: 30vw;
  top: 0px;
  left: calc(50vw - 15vw);
  transition: 1s opacity;
  overflow: hidden;
  font-family: var(--font-main);
  display: none;
  background-color: var(--primary-alt);
  z-index: 1100;
}

.filter-d-text {
  font-size: 20px;
  line-height: 1.2;
  color: #d6d6d6;
}

.padtop-card-filter-d {
  padding-top: 20px;
}

.card-track {
  grid-area: card-track;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 8px 0;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  padding-top: 4px;
  padding-bottom: 6px;
}

.card-track-inner {
  height: 100%;
  position: relative;
  padding-left: calc(50% - 26%);
  /* transition: padding 0.4s; */
  transition: opacity 0.25s;
}

.my-card {
  height: 100%;
  width: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  font-family: var(--font-main);
  white-space: normal;
  min-width: 342px;
}

.mr-card {
  margin-right: 50px;
}

.my-card .my-card.no-results {
  height: 60%;
  width: 100%;
}

.my-card-img-div {
  width: 100%;
  height: 50%;
}

.card-body {
  padding-bottom: 10px;
}

.card-body h5 {
  margin-bottom: 6px;
}

.my-card button {
  padding-top: 6px;
}

.my-card li a {
  color: black;
}

.cardAddress li {
  border-left: none;
  border-right: none;
  border-top: none;
}

.map-track {
  grid-area: map-track;
  position: relative;
  width: 100%;
}

.map-routing {
  position: absolute;
  color: #333333;
  left: 15px;
  top: 10px;
}

.map-routing.horizontal {
  height: 40px;
}

.directions-col {
  position: absolute;
  top: 65px;
  max-height: calc(100% - 65px);
  overflow: hidden;
  left: 15px;
  z-index: 10;
}

.map-routing .drive,
.map-routing .walk,
.map-routing .bike,
.map-routing .home,
.map-routing .reset {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  transition: transform 0.6s;
}

.map-routing .drive,
.map-routing .walk {
  margin-bottom: 16px;
}

.map-routing .reset,
.map-routing .home {
  margin-top: 15px;
}

.map-routing .active {
  color: var(--warning);
}

.map-routing .homeActive {
  color: var(--warning);
}

.walkHorizontal {
  transform: translate(60px, -56px);
}

.bikeHorizontal {
  transform: translate(120px, -112px);
}

.homeHorizontal {
  transform: translate(180px, -167px);
}

.resetHorizontal {
  transform: translate(240px, -222px);
}

.map-track #directions-panel {
  font-size: 18px;
  width: 30px;
  height: 60px;
  border-radius: 5px;
  color: #333333;
  overflow: hidden;
  z-index: 10;
  transition: font-size 0s;
  background-color: rgba(255, 255, 255, 0.9);
}

.map-track #directions-panel.directionsShow {
  width: 300px;
  height: 300px;
}

.directionsCaret {
  width: 30px;
}

#directions-text {
  padding-bottom: 110px;
  height: 100%;
  overflow-y: auto;
}

/* map fullscreen btn */
.mapboxgl-ctrl-group button {
  width: 40px !important;
  height: 40px !important;
}
.mapboxgl-ctrl button .mapboxgl-ctrl-icon {
  transform: scale(1.3);
}

.map-toggle {
  position: absolute;
  top: -55px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.589);
  border: 1px solid var(--secondary);
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 40px;
  font-size: 12px;
}

.toggle-on-map {
  top: 120px;
  right: 10px;
  background-color: white;
  color: #333;
  border: none;
}

.toggleCards {
  position: absolute;
  top: 66px;
  right: 10px;
  background-color: white;
  border-radius: 5px;
  color: #333333;
  height: 40px;
  width: 40px;
  font-size: 14px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup-content {
  background-color: var(--primary) !important;
  color: whitesmoke;
  font-family: var(--font-main);
  padding: 5px 10px !important;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.mapboxgl-popup-tip {
  border-top-color: var(--primary) !important;
  border-bottom-color: var(--primary) !important;
}

/* for tips modal */
.tip-label {
  width: 140px;
}

a:hover {
  text-decoration: none;
}

.display-flex-important {
  display: flex !important;
}
