main {
  position: relative;
}

.hero-animation {
  height: var(--vh-minus-navbar);
  color: white;
  font-family: 'MuseoModerno', cursive;
  /* top: -5px; */
}

.hero-animation h1 {
  font-weight: 900;
}

.hero-animation h2 {
  font-weight: 200;
}

.bg-stars1 {
  background: url('../images/stars2.jpg'), black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.control-panel {
  transition: all 0.4s;
}

.main-form-div,
.card-map-zone,
#scrl2,
#scrl3 {
  height: var(--vh-minus-navbar);
  overflow-y: auto;
  overflow-x: hidden;
  font-family: var(--font-main);
}

#scrl3 {
  font-size: 1rem;
}

.white-a {
  color: whitesmoke;
}

form h5.museo {
  color: var(--my-warning);
  margin-bottom: 0px;
  margin-top: 10px;
}

form label.results-label {
  width: 38px;
}

form label {
  font-family: var(--font-main);
  width: 100%;
}

.form-num-display {
  height: 19px;
  width: 45px;
  background-color: whitesmoke;
  text-align: center;
  font-size: 18px;
  line-height: 0.95;
  border-radius: 5px;
  display: inline-block;
  /* margin-left: 40px; */
  text-shadow: none;
}

.filter-icon-display {
  display: none;
}

.cat-btn {
  color: whitesmoke !important;
  transition: transform 0.2s !important;
  font-weight: 300 !important;
  font-style: italic;
  font-family: var(--font-main);
}

button.cat-btn.active {
  transform: scale(1.3);
  background-color: var(--my-info) !important;
  color: var(--my-green) !important;
  font-weight: 400 !important;
  border: none;
}

.first-letter {
  padding: 0.7vh !important;
  transition: all 0.2s !important;
}

#scrl3 {
  padding: 0 !important;
  font-size: 1rem;
  position: relative;
  height: var(--vh-minus-navbar);
  overflow-y: scroll;
  overflow-x: hidden;
}

#scrl1::-webkit-scrollbar,
#scrl2::-webkit-scrollbar,
#scrl3::-webkit-scrollbar {
  width: 6px;
  background-color: #6c757d;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#scrl4::-webkit-scrollbar {
  -webkit-appearance: none;
}
#scrl4::-webkit-scrollbar:horizontal {
  height: 6px;
}

#scrl1::-webkit-scrollbar-thumb,
#scrl2::-webkit-scrollbar-thumb,
#scrl3::-webkit-scrollbar-thumb,
#scrl4::-webkit-scrollbar-thumb {
  background-color: var(--my-warning);
  border-radius: 5px;
}

#scrl1::-webkit-scrollbar-thumb:hover,
#scrl2::-webkit-scrollbar-thumb:hover,
#scrl3::-webkit-scrollbar-thumb:hover,
#scrl4::-webkit-scrollbar-thumb:hover {
  background-color: #ff6701;
}

.card-map-zone {
  display: grid;
  padding: 0;
  grid-template-rows: auto calc(var(--vh-minus-navbar) / 2);
  grid-template-columns: auto;
  grid-template-areas:
    'card-track'
    'map-track';
}

.sidebar-toggle-btn {
  position: absolute;
  left: 0;
  top: 30vh;
  font-size: 6vh;
  z-index: 100;
}

.filter-display {
  position: absolute;
  height: 25px;
  width: 30vw;
  top: 0px;
  left: calc(50vw - 15vw);
  transition: 1s opacity;
  overflow: hidden;
  font-family: var(--font-main);
  display: none;
  background-color: var(--primary);
  z-index: 1100;
}

.filter-d-text {
  font-size: 20px;
  line-height: 1.2;
  color: #d6d6d6;
}

.padtop-card-filter-d {
  padding-top: 20px;
}

.card-track {
  grid-area: card-track;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 8px 0;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.card-track-inner {
  height: 100%;
  /* width: 100%; */
  position: relative;
  padding-left: calc(50% - 16.6%);
  transition: padding 0.4s;
}

.my-card {
  height: 100%;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  font-family: var(--font-main);
  white-space: normal;
  min-width: 342px;
  display: inline-block;
}

.mr-card {
  margin-right: 50px;
}

.my-card::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
}

.no-results {
  background: url('https://media.giphy.com/media/Txh1UzI7d0aqs/giphy.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.my-card-img-div {
  width: 100%;
  height: 50%;
}

.my-card li a {
  color: black;
}

.cardAddress li {
  border-left: none;
  border-right: none;
  border-top: none;
}

.card-link {
  color: var(--my-info);
}

.map-info {
  visibility: hidden;
  position: absolute;
  color: white;
  top: 12px;
  left: 20px;
}

.map-close {
  position: absolute;
  top: -40px;
  right: 52px;
}

.top-10 {
  top: 12px;
}

.map-collapse {
  grid-template-rows: auto 0px;
}

.map-track {
  grid-area: map-track;
  position: relative;
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup-content {
  background-color: var(--my-info) !important;
  color: #929493;
  font-family: var(--font-main);
}

.mapboxgl-popup-tip {
  border-top-color: var(--my-info) !important;
  border-bottom-color: var(--my-info) !important;
}

/* Breakpoints */
/* Breakpoints */
/* Breakpoints */
/* Breakpoints */
/* Breakpoints */

@media screen and (max-width: 420px) {
  #detect-location,
  #clear-filters {
    padding: 6px 5px;
  }
  .cat-btn {
    padding: 4px 5px !important;
    /* font-size: 0.67rem !important; */
  }
  button.cat-btn.active {
    transform: scale(1.1);
  }
  #scrl2 {
    padding: 16px 5px;
  }
  .filter-display {
    height: 25px;
    width: 94vw;
    left: calc(50vw - 47vw);
  }
  .dummy-card {
    width: 0px;
    min-width: 0px;
  }
  .map-close {
    right: calc(50% - 125px);
  }
}

@media screen and (min-width: 420px) and (max-width: 840px) {
  #detect-location,
  #clear-filters {
    padding: 6px 8px;
  }
  .cat-btn {
    padding: 4px 5px !important;
    font-size: 0.8rem !important;
  }
  .filter-display {
    height: 25px;
    width: 50vw;
    left: calc(50vw - 25vw);
  }
}

/* landscape on phones */
@media screen and (orientation: landscape) and (max-width: 840px) and (max-height: 450px) {
  body {
    padding-top: 0px !important;
  }
  .navbar {
    display: none;
  }
  .filter-display {
    display: none !important;
  }
  .sidebar-toggle-btn {
    font-size: 10vh;
    top: 25vh;
  }
  .hero-animation,
  .main-form-div,
  .card-map-zone,
  #scrl2,
  #scrl3 {
    height: 100vh;
  }
  .padtop-card-filter-d {
    padding-top: 0px !important;
  }
  .card-track {
    padding-top: 5px;
  }
  .card-track-inner {
    padding-left: calc(50% - 125px) !important;
  }
  .my-card {
    width: 250px;
    min-width: 250px;
  }
  .toggle-outline-mobile {
    animation: greenGlowPulseulse 0.6s ease-in 10;
  }
}

/* portrait on phones */
@media screen and (orientation: portrait) and (max-width: 450px) and (max-height: 840px) {
  .my-card {
    width: 342px;
    min-width: 342px;
  }
  .toggle-outline-mobile {
    animation: greenGlowPulseulse 0.6s ease-in 10;
  }
  .filter-display {
    position: absolute;
    top: 1px;
  }
}

@media screen and (min-width: 840px) and (max-width: 1200px) {
  .filter-display {
    height: 25px;
    width: 40vw;
    left: calc(50vw - 20vw);
  }
}

@media screen and (max-width: 1000px) {
  .card-track-inner {
    padding-left: calc(50% - 171px);
  }
}

@media screen and (min-width: 1200px) {
  .mr-card {
    margin-right: 60px;
  }
  .filter-display {
    width: 34vw;
    left: calc(50vw - 17vw);
  }
}

@media screen and (min-width: 1450px) {
  .control-panel {
    max-width: 32vw;
  }
  .filter-display {
    position: fixed;
    width: 24vw;
    left: calc(50vw - 12vw);
  }
  .padtop-card-filter-d {
    padding-top: 0px !important;
  }
}

@media screen and (min-width: 1768px) {
  .cat-btn {
    font-size: large;
  }
  label {
    font-size: medium;
  }
  .control-panel {
    max-width: 25vw;
  }
  /* .filter-display {
    width: 30vw;
    left: calc(50vw - 15vw);
  } */
}

@media screen and (hover: hover) {
  #detect-location:hover,
  #clear-filters:hover {
    color: rgb(98, 98, 255);
  }
  form label:hover {
    color: var(--primary);
  }
  .first-letter:hover {
    background-color: var(--my-info) !important;
  }
  .cat-btn:hover {
    background-color: var(--my-info) !important;
    transform: scale(1.3);
    color: var(--my-green) !important;
    font-weight: 400 !important;
  }
  .sidebar-toggle-btn:hover,
  .map-close:hover {
    color: var(--my-green) !important;
    transform: scale(1.2);
    transition: transform 0.4s;
  }
  .my-card button:hover {
    background-color: var(--my-green) !important;
    color: var(--my-info) !important;
  }
  .my-card button.cardMapButton:hover {
    color: white !important;
  }
  .card-text-noHover:hover {
    color: black;
  }
  .card-link:hover,
  .my-card li a:hover {
    color: white;
  }
  .map-info {
    visibility: visible;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .filter-display {
    position: fixed;
  }
  .padtop-card-filter-d {
    padding-top: 0px !important;
  }
}

/* Animations  */
/* Animations  */
/* Animations  */
/* Animations  */
/* Animations  */

.grow-1_3 {
  transform: scale(1.3);
  transition: transform 0.4s;
}

/* Pulse 5 times */
.pulse-5 {
  animation: pulse 0.5s ease-in 5;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.14);
  }
  100% {
    transform: scale(1.6);
  }
}

@keyframes greenGlowPulseulse {
  0% {
    text-shadow: var(--my-green) 1px 1px 1px, var(--my-green) -1px -1px 1px,
      var(--my-green) 1px -1px 1px, var(--my-green) -1px 1px 1px;
  }
  100% {
    text-shadow: var(--my-green) 10px 10px 10px,
      var(--my-green) -10px -10px 10px, var(--my-green) 10px -10px 10px,
      var(--my-green) -10px 10px 10px;
  }
}

/* pulse and change color. animation shakes. */
.pulse {
  animation: pulseColor 0.5s ease-in infinite;
}

@keyframes pulseColor {
  0% {
    transform: scale(1);
    color: whitesmoke;
  }
  50% {
    transform: scale(1.14);
    color: rgb(217, 217, 233);
  }
  100% {
    transform: scale(1.6);
    color: rgb(0, 0, 255);
  }
}

.sidebarCollapse {
  max-width: 0px;
}
