main {
  height: var(--vh-minus-navbar);
}

.map-routing {
  left: unset;
  right: 10px;
  top: 56px;
  height: 40px;
}

.sidebar-toggle-btn {
  top: 45vh !important;
  padding-left: 4px;
}

.hoverOpaque {
  overflow: hidden;
}

.panel-toggle {
  color: inherit;
  background-color: black;
  padding: 2px 8px;
}

a[href='#mission-select-form'] {
  border-radius: 0 0 5px 0;
}

#mission-select {
  font-size: xx-small;
  color: var(--my-info-alt);
}

#mission-detail-panel form input,
#mission-detail-panel form textarea {
  background: transparent;
  color: whitesmoke;
}

#mission-form,
#create-form {
  border-radius: 55px;
}

#mission-form input,
#mission-form textarea,
#create-form input,
#create-form textarea {
  color: black !important;
}

#mission-form .btn-div,
#create-form .btn-div {
  height: 28px;
}

#create-mission-btn {
  font-size: 10px !important;
  padding: 2px 8px;
  margin-top: 1px;
}

#create-mission-btn:focus {
  background-color: unset;
}

#businesses-list {
  max-height: calc(calc(var(--vh-minus-navbar) / 2) - 125px);
  overflow-x: hidden;
  overflow-y: auto;
}

#businesses-list::-webkit-scrollbar {
  width: 4px;
}
#businesses-list::-webkit-scrollbar-track {
  background-color: var(--light);
}
#businesses-list::-webkit-scrollbar-thumb {
  background-color: var(--my-warning);
  border-radius: 5px;
}
#businesses-list::-webkit-scrollbar-thumb:hover {
  background-color: #ff6701;
}

#businesses-panel .list-group-item {
  opacity: 0.7;
  cursor: pointer;
}

#directions-text {
  padding-bottom: unset;
}

.flag-marker {
  background-image: url('/static/images/flag_red_straight.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
}

.toasts-zone {
  bottom: 25px;
}

@media screen and (hover: hover) {
  main button:hover {
    background-color: var(--my-green) !important;
    color: var(--my-purp) !important;
  }
  #mission-form a:hover {
    color: var(--my-green) !important;
  }
  .iconBtn:hover {
    color: var(--primary) !important;
  }
  #businesses-panel .list-group-item:hover {
    opacity: 1;
    background-color: var(--secondary);
    text-shadow: black 2px 1px 1px, black -2px -1px 1px, black 2px -1px 1px,
      black -2px 1px 1px;
  }
  .hoverBlue:hover {
    color: #1d7097 !important;
  }
  .hover-primary-alt2:hover {
    color: var(--primary-alt2);
    text-shadow: 1px 1px 1px cyan, -1px -1px 1px cyan, -1px 1px 1px cyan,
      1px -1px 1px cyan;
  }
  .card-header a:hover {
    text-decoration: underline;
  }
}

/* landscape on phones */
@media screen and (orientation: landscape) and (max-width: 880px) and (max-height: 450px) {
  main {
    height: 100vh;
  }
}

@media screen and (max-width: 350px) {
  #create-mission-btn {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media screen and (min-width: 576px) {
  #businesses-list {
    max-height: 60vh;
  }
}

@media screen and (min-width: 768px) {
  #mission-select {
    font-size: initial;
  }
}

@media screen and (min-width: 1450px) {
  #create-mission-btn {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
