main {
  height: var(--vh-minus-navbar);
}

.sidebar-toggle-btn {
  left: -5px;
  top: 45vh !important;
  padding-left: 4px;
}

.hoverOpaque {
  overflow: hidden;
}

.panel-toggle {
  color: var(--my-green);
  background-color: black;
  padding: 2px 8px;
}

a[href='#mission-select-form'] {
  border-radius: 0 0 5px 0;
}

#mission-detail-panel form input,
#mission-detail-panel form textarea {
  background: transparent;
  color: whitesmoke;
  /* border: none; */
}

#mission-form,
#create-form {
  border-radius: 55px;
}

#mission-form input,
#mission-form textarea,
#create-form input,
#create-form textarea {
  color: black !important;
}

#mission-form .btn-div,
#create-form .btn-div {
  height: 28px;
}

#create-mission-btn {
  font-size: 10px !important;
  padding: 2px 8px;
  margin-top: 1px;
}

#create-mission-btn:focus {
  background-color: unset;
}

#businesses-panel {
  overflow: hidden;
}

#businesses-panel .list-group-item {
  opacity: 0.7;
}

a.text-success.hoverUnset:focus,
a.text-success.hoverUnset:active {
  color: var(--success) !important;
}

.flag-marker {
  background-image: url('/static/images/flag_green_straight.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

@media screen and (hover: hover) {
  main button:hover {
    background-color: var(--my-green) !important;
    color: var(--my-purp) !important;
  }
  #mission-form a:hover,
  .marker-html:hover {
    color: var(--my-green) !important;
  }
  .iconBtn:hover {
    color: var(--primary) !important;
  }
  #businesses-panel .list-group-item:hover {
    opacity: 1;
    background-color: var(--secondary);
  }
  .hoverOpaque:hover {
    background-color: black;
  }
  .hover-primary-alt2:hover {
    color: var(--primary-alt2);
    text-shadow: 1px 1px 1px cyan, -1px -1px 1px cyan, -1px 1px 1px cyan,
      1px -1px 1px cyan;
  }
}

/* landscape on phones */
@media screen and (orientation: landscape) and (max-width: 880px) and (max-height: 450px) {
  main {
    height: 100vh;
  }
}

@media screen and (max-width: 350px) {
  #create-mission-btn {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media screen and (min-width: 1450px) {
  #create-mission-btn {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
