/* ====================== General */

#main-hero {
  background: url('/static/images/horizon___widescreen_wallpaper_by_hameed.jpg');
  background-position: center;
  background-size: cover;
}

.filter-form {
  min-height: 60px;
}

.filter-form input {
  width: 45%;
}

div.report .card {
  width: 90%;
}

@media screen and (min-width: 576px) {
  .filter-form input,
  .filter-form select {
    width: unset;
  }
  input[type='text'] {
    max-width: 10vw;
  }
  .card-columns {
    column-count: 2;
  }
}

@media screen and (min-width: 768px) {
  input[type='text'] {
    max-width: 13vw;
  }
  .card-columns {
    padding: 0 25px;
  }
}

@media screen and (min-width: 992px) {
  input[type='text'] {
    max-width: unset;
  }
  .card-columns {
    column-count: 3;
  }
}

@media screen and (min-width: 1200px) {
  /* single report page card */
  div.report .card {
    max-width: 45vw;
  }
}

@media screen and (min-width: 2000px) {
  .container {
    max-width: 1600px;
  }
  .card-columns {
    column-gap: 2rem;
  }
  /* single report page card */
  div.report .card {
    max-width: 40vw;
  }
}
