/* ====================== General */

.btn:not(.navbar btn) {
  border-radius: 50px;
}

#main-hero {
  height: 45vh;
  background: url('/static/images/horizon___widescreen_wallpaper_by_hameed.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  opacity: 0.7;
}

.middle-gap {
  background-color: var(--light);
  margin-top: 0px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65),
    inset 0px 1px 5px rgba(184, 182, 182, 0.589);
  min-height: 60px;
  width: 100%;
  align-items: center;
}

.filter-form {
  min-height: 60px;
}

section > h5 {
  text-decoration: underline;
}

.card-norm {
  width: 18rem;
}

.card-full-width {
  width: 100%;
  max-width: 700px;
}

.card .card-title {
  margin-bottom: 2px;
}

.card h5.lead {
  margin-bottom: 15px;
}

@media screen and (min-width: 576px) {
  #profile-avatar {
    margin-top: -33px;
  }
  .card-norm {
    width: 38vw;
    min-width: 11rem;
    max-width: 18rem;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
