/* ====================== General */

.btn:not(.navbar btn) {
  border-radius: 50px;
}

#main-hero {
  height: 45vh;
  background: url('/static/images/horizon___widescreen_wallpaper_by_hameed.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  opacity: 0.7;
}

.middle-gap {
  background-color: var(--light);
  margin-top: 0px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65),
    inset 0px 1px 5px rgba(184, 182, 182, 0.589);
  min-height: 60px;
  width: 100%;
  align-items: center;
}

.filter-form {
  min-height: 60px;
}

.filter-form input {
  width: 45%;
}

section > h5 {
  text-decoration: underline;
}

.card-norm {
  width: 80vw;
  display: inline-block;
}

.card-full-width {
  width: 100%;
  max-width: 700px;
}

.card .card-title {
  margin-bottom: 0px;
}

.card h5.lead {
  margin-bottom: 15px;
}

.like-button {
  background-color: transparent;
  border: none;
}

.card-link:focus,
.card-footer button:focus {
  outline: none;
}

@media screen and (min-width: 576px) {
  .filter-form input,
  .filter-form select {
    width: unset;
  }
  input[type='text'] {
    max-width: 10vw;
  }
  .card-columns {
    column-count: 2;
  }
  .card-norm {
    width: 38vw;
  }
}

@media screen and (min-width: 768px) {
  input[type='text'] {
    max-width: 13vw;
  }
  .card-columns {
    padding: 0 25px;
  }
}

@media screen and (min-width: 992px) {
  input[type='text'] {
    max-width: unset;
  }
  .card-columns {
    column-count: 3;
  }
}

@media screen and (min-width: 1200px) {
}
