<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-RJ2H86JR57"
    ></script>
    <!-- <script src="/static/js/googleLoginInit.js"></script> -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ff8b3f" />
    <meta name="author" content="Richard Iannucelli" />

    <meta property="og:title" content="Gastonaut" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://repository-images.githubusercontent.com/273343895/b7a47180-f42b-11ea-9bc3-47e4adbbe92c"
    />
    <meta property="og:url" content="https://gastronaut.life" />
    <meta
      property="og:description"
      content="Find restaurants, bars, and more. Plan an mission, eat the food, plant a flag! Lead a life of adventure, lead a gastronaut life!"
    />

    <title>{% block title %}{% endblock %}</title>

    <link rel="manifest" href="/static/manifests/webmanifest.json" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://d1mhc0bouqz8wk.cloudfront.net/static/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://d1mhc0bouqz8wk.cloudfront.net/static/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://d1mhc0bouqz8wk.cloudfront.net/static/images/favicon-16x16.png"
    />
    <link
      rel="mask-icon"
      href="https://d1mhc0bouqz8wk.cloudfront.net/static/images/safari-pinned-tab.svg"
      color="#ff8b3f"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;400;600;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/static/css/third_party_files/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/css/third_party_files/offcanvas.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/simpleAutocomp.css" />

    {% if not debug %}
    <script
      src="https://js.sentry-cdn.com/9d6aca2c56384459925ec4ecbf58afee.min.js"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="/static/js/sentryInit.js"></script> -->
    {% endif %}

    <script
      src="https://kit.fontawesome.com/5c45c2d894.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    ></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

    <script defer src="/static/js/third_party_files/offcanvas.js"></script>
    <script defer src="/static/js/simpleAutocomp.js"></script>

    <script defer src="/static/js/base.js"></script>

    <script src="/static/js/googleLogin.js"></script>
    <script async defer src="https://accounts.google.com/gsi/client"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% if not g.user %}
    <div
      id="g_id_onload"
      data-client_id="992789148520-btgg6dtlrk8rkght89rfvdbfgu2ljeut.apps.googleusercontent.com"
      data-callback="onGoogleSignIn"
    ></div>
    {% endif %}

    <div class="spinner-zone rounded-bottom">
      <div class="flx-std">
        <div class="spinner-border txt-green" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="preloader-div flx-std">
      <div class="reverse-spinner"></div>
    </div>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a
        class="navbar-brand mr-auto mr-lg-0 fw-900 text-warning brand-outline"
        href="/"
      >
        <i class="fas fa-user-astronaut"></i>
        Gastronaut</a
      >
      <button
        class="navbar-toggler p-0 border-0"
        type="button"
        data-toggle="offcanvas"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="navbar-collapse offcanvas-collapse"
        id="navbarsExampleDefault"
      >
        <ul class="navbar-nav mr-auto fw-200">
          {% from '/macros/nav_link.html' import nav_link_active with context %}

          <li class="nav-item {{ nav_link_active('main_views.index') }}">
            <a class="nav-link explore-nav" href="/"
              ><span class="sr-only">(current)</span>Explore</a
            >
          </li>
          <li
            class="nav-item {{ nav_link_active('main_views.mission_control') }}"
          >
            {% if g.user %}
            <a class="nav-link" href="/mission-control">Mission Control</a>
            {% else %}
            <a
              class="nav-link signLogBtn"
              href="#signupModal"
              data-toggle="modal"
              data-next_url="/mission-control"
              >Mission Control</a
            >
            {% endif %}
          </li>
          <li class="nav-item {{ nav_link_active('main_views.missions') }}">
            <a class="nav-link" href="/missions">Missions</a>
          </li>
          <li
            class="nav-item {{ nav_link_active('main_views.mission_reports') }}"
          >
            <a class="nav-link" { href="/reports">Mission Reports</a>
          </li>
          <li
            class="nav-item {{ nav_link_active('user_views.user_detail') }} dropdown"
          >
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown01"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >More</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              {% if g.user %}
              <a class="dropdown-item" href="/user/profile/{{g.user.username}}"
                >User Profile</a
              >
              {% else %}
              <a
                class="dropdown-item signLogBtn"
                data-toggle="modal"
                href="#signupModal"
                data-target="#signupModal"
                data-next_url="/user/profile/0"
                >Profile</a
              >
              {% endif %}
              <a
                class="dropdown-item"
                data-toggle="modal"
                href="#preferencesModal"
                data-target="#preferencesModal"
              >
                Preferences
              </a>
              {% if request.endpoint in ['main_views.index',
              'main_views.mission_control'] %}
              <a
                class="dropdown-item"
                href="#tipsModal"
                data-target="#tipsModal"
                data-toggle="modal"
              >
                Tips</a
              >
              {% endif %}
              <a
                class="dropdown-item"
                href="#user-feedback-modal"
                data-toggle="modal"
                data-target="#user-feedback-modal"
              >
                Feedback</a
              >
              <a class="dropdown-item" href="#"
                >Gastronaut groups (Coming Soon!)</a
              >
              <div class="ml-4 mt-3 text-dark">
                Powered by
                <img
                  src="https://s3-media0.fl.yelpcdn.com/assets/public/default.yji-a536dc4612adf182807e56e390709483.png"
                  alt="yelp logo"
                  class="navbar-yelp-logo ml-1"
                />
              </div>
            </div>
          </li>
        </ul>
        {% if g.user %}
        <form
          action="/user/logout?next_url={{request_full_path}}"
          method="post"
          id="logout-form"
        >
          <button class="navbar-logout mr-4 btn p-0 my-4 my-lg-0" type="submit">
            Logout
          </button>
        </form>
        {% elif request.endpoint not in ['user_views.signup',
        'user_views.login'] %}
        <a
          class="navbar-signup mr-4 btn p-0 my-4 my-lg-0 signLogBtn"
          href="#signupModal"
          data-target="#signupModal"
          data-toggle="modal"
          data-next_url="{{request_full_path}}"
        >
          Signup / Login
        </a>
        {% endif %}
        <form
          class="form-inline my-2 my-lg-0 searchForm"
          action="/navbar-search"
          method="GET"
        >
          <input
            class="form-control mr-sm-2"
            type="text"
            name="q"
            placeholder="Search"
            aria-label="Search"
            {%
            if
            search_term
            %}
            value="{{search_term}}"
            {%
            endif
            %}
          />
          <!-- include all possible data to get back to this page for user search fail -->
          <input type="hidden" name="next_url" value="{{request_full_path}}" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <div class="navbar-traverse">
      <i
        class="fas fa-rocket fa-2x text-warning brand-outline horiz-rocket"
      ></i>
    </div>
    {% with mssgs = get_flashed_messages(with_categories=True) %} {% if mssgs %}
    {% for category, mssg in mssgs %}
    <div
      class="alert alert-sm alert-{{category}} text-center p-1 p-xl-2 mb-0 font-weight-bold"
    >
      {{mssg}}
      <span class="alert-close ml-4 text-light"
        ><i class="fas fa-window-close"></i
      ></span>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <main>{% block main %} {% endblock %}</main>

    <!-- Modal -->
    {% if not request.endpoint in ['main_views.mission_control'] %} {% include
    'include/include_signup_login_modal.html' %} {% endif %} {% include
    "/include/include_feedback_modal.html" %}{% include
    "/include/include_preferences_modal.html" with context %}
  </body>
</html>
