{% extends 'base.html' %}

<title>
  {% block title %}Gastronaut - Explore the world of food.{% endblock %}
</title>

<div>
  {% block head %}
  <meta
    name="description"
    content="Find restaurants, bars, and more. Plan an mission, eat the food, plant a flag! Lead a life of adventure, lead a gastronaut life!"
  />
  <meta
    name="google-site-verification"
    content="YPEc32npJcPQVaehmJQNayHLdC8eXBWeOUzEuHGQyts"
  />
  <link rel="stylesheet" href="../static/css/common1.css" />
  <link rel="stylesheet" href="../static/css/index.css" />
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css"
    rel="stylesheet"
  />
  <script src="../static/js/three.r95.min.js"></script>
  <script src="../static/js/vanta.globe.min.js"></script>
  <script src="../static/js/modernizer.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
  <script defer src="../static/js/geolocate.js"></script>
  <script defer src="../static/js/cards.js"></script>
  <script defer src="../static/js/indexAnimations.js"></script>
  <script defer src="../static/js/index.js"></script>
  <script defer src="../static/js/apiFuncts.js"></script>
  <script
    defer
    type="text/javascript"
    src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"
  ></script>
  {% endblock %}
</div>

<main>
  {% block main %}
  <div class="spinner-zone flx-std rounded-bottom" style="display: none;">
    <div class="spinner-border txt-green" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="hero-animation">
    <div
      class="row justify-content-around align-items-center"
      style="height: 100%;"
    >
      <header
        class="col-8 col-sm-5 col-md-4 col-lg-5 col-xl-3 text-center"
        style="font-size: 5px;"
      >
        <h1 class="display-1-k txt-orange brand-outline">Gastronaut</h1>
        <div class="text-center hero-lead mx-auto">
          <h2 class="display-2-k lead-k">Explore the world of food.</h2>
          <a
            href="#main-interface"
            class="btn btn-lg btn-outline-success explore"
            >Explore</a
          >
        </div>
      </header>
      <div class="col-1 col-sm-2 col-md-1"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" id="main-interface">
      <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 control-panel">
        <div class="row">
          <div class="col-6 col-lg-5 py-3 main-form-div" id="scrl1">
            <form action="#" id="main-form" class="txt-black">
              <input type="hidden" name="lat" value="{{lat}}" />
              <input type="hidden" name="lng" value="{{lng}}" />
              <label class="sr-only" for="location">Location</label>
              <div class="input-group mb-2 px-2">
                <div class="input-group-prepend">
                  <div
                    class="input-group-text jsPulser"
                    id="detect-location"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Detect Location"
                  >
                    <i class="fas fa-street-view"></i>
                  </div>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm font-weight-bold"
                  id="location"
                  name="location"
                  placeholder="Location"
                />
              </div>
              <label class="sr-only" for="search-term">Keywords</label>
              <div class="input-group mb-2 px-2">
                <input
                  type="text"
                  class="form-control form-control-sm font-weight-bold"
                  id="search-term"
                  name="term"
                  placeholder="Keywords"
                />
                <div
                  class="input-group-append"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Clear All Filters"
                >
                  <div class="input-group-text jsPulser" id="clear-filters">
                    <i class="fas fa-recycle"></i>
                  </div>
                </div>
              </div>
              <div class="px-2">
                <label class="m-0 results-label">Found</label>
                <span
                  class="form-num-display resultsCount ml-1 ml-sm-4 text-light"
                  >0</span
                >
                <span class="filter-icon-display dark-outline-1">
                  <i class="fas fa-filter text-warning ml-2 ml-md-3"></i>
                </span>
              </div>

              <a
                data-toggle="collapse"
                href="#timing-group"
                role="button"
                aria-expanded="true"
                aria-controls="timing-group"
              >
                <h5 class="museo dark-outline-1 px-2">
                  Timing <i class="fas fa-caret-down fa-xs text-dark"></i></h5
              ></a>
              <div class="collapse show" id="timing-group">
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input"
                      type="checkbox"
                      id="open_now"
                      name="open_now"
                      value="true"
                    />
                    <label class="custom-control-label" for="open_now">
                      Open Now
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2 openAt">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input"
                      type="checkbox"
                      id="open-at"
                      value="true"
                    />
                    <label class="custom-control-label" for="open-at">
                      Open At
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper px-2 noHoverBg openAt">
                  <div class="input-group mb-2 mr-sm-2">
                    <input
                      type="datetime-local"
                      class="onChange form-control form-control-sm"
                      id="open_at"
                      name="open_at"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#interface-group"
                role="button"
                aria-expanded="true"
                aria-controls="interface-group"
              >
                <h5 class="museo dark-outline-1 px-2">
                  Interface
                  <i class="fas fa-caret-down fa-xs text-dark"></i></h5
              ></a>
              <div class="collapse show" id="interface-group">
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input interface"
                      type="checkbox"
                      value="delivery"
                      id="delivery"
                    />
                    <label class="custom-control-label" for="delivery">
                      Delivery
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input interface"
                      type="checkbox"
                      value="pickup"
                      id="pickup"
                    />
                    <label class="custom-control-label" for="pickup">
                      Pickup
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input interface"
                      type="checkbox"
                      value="restaurant_reservation"
                      id="restaurant_reservation"
                    />
                    <label
                      class="custom-control-label"
                      for="restaurant_reservation"
                    >
                      Reservations
                    </label>
                  </div>
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#price-group"
                role="button"
                aria-expanded="true"
                `
                aria-controls="price-group"
              >
                <h5 class="museo dark-outline-1 px-2">
                  Price <i class="fas fa-caret-down fa-xs text-dark"></i></h5
              ></a>
              <div class="collapse show text-dark" id="price-group">
                <div class="form-check pl-2 pb-1 txt-green dark-green-outline">
                  <input
                    class="onChange form-check-input"
                    type="checkbox"
                    value="1"
                    id="price-1"
                    name="price-1"
                    checked
                    hidden
                  />
                  <label class="form-check-label noHoverCl" for="price-1">
                    <i class="fas fa-dollar-sign fa-lg"></i>
                  </label>
                </div>
                <div class="form-check pl-2 pb-1 txt-green dark-green-outline">
                  <input
                    class="onChange form-check-input"
                    type="checkbox"
                    value="2"
                    id="price-2"
                    name="price-2"
                    checked
                    hidden
                  />
                  <label class="form-check-label noHoverCl" for="price-2">
                    <i class="fas fa-dollar-sign fa-lg mr-1"></i
                    ><i class="fas fa-dollar-sign fa-lg mr-1"></i>
                  </label>
                </div>
                <div class="form-check pl-2 pb-1 txt-green dark-green-outline">
                  <input
                    class="onChange form-check-input"
                    type="checkbox"
                    value="3"
                    id="price-3"
                    name="price-3"
                    checked
                    hidden
                  />
                  <label class="form-check-label noHoverCl" for="price-3">
                    <i class="fas fa-dollar-sign fa-lg mr-1"></i
                    ><i class="fas fa-dollar-sign fa-lg mr-1"></i
                    ><i class="fas fa-dollar-sign fa-lg mr-1"></i>
                  </label>
                </div>
                <div class="form-check pl-2 txt-green dark-green-outline">
                  <input
                    class="onChange form-check-input"
                    type="checkbox"
                    value="4"
                    id="price-4"
                    name="price-4"
                    checked
                    hidden
                  />
                  <label class="form-check-label noHoverCl" for="price-4">
                    <i class="fas fa-dollar-sign fa-lg mr-1"></i
                    ><i class="fas fa-dollar-sign fa-lg mr-1"></i
                    ><i class="fas fa-dollar-sign fa-lg mr-1"></i
                    ><i class="fas fa-dollar-sign fa-lg mr-1"></i>
                  </label>
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#sort-by-group"
                role="button"
                aria-expanded="true"
                aria-controls="sort-by-group"
              >
                <h5 class="museo dark-outline-1 px-2">
                  Sort By <i class="fas fa-caret-down fa-xs text-dark"></i></h5
              ></a>
              <div class="collapse show" id="sort-by-group">
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-radio">
                    <input
                      class="onChange custom-control-input"
                      type="radio"
                      id="best_match"
                      name="sort_by"
                      value="best_match"
                      checked
                    />
                    <label class="custom-control-label" for="best_match">
                      Best Match
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-radio">
                    <input
                      class="onChange custom-control-input"
                      type="radio"
                      id="rating"
                      name="sort_by"
                      value="rating"
                    />
                    <label class="custom-control-label" for="rating">
                      Rating
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-radio">
                    <input
                      class="onChange custom-control-input"
                      type="radio"
                      id="review_count"
                      name="sort_by"
                      value="review_count"
                    />
                    <label class="custom-control-label" for="review_count">
                      Review Count
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-radio">
                    <input
                      class="onChange custom-control-input"
                      type="radio"
                      id="distance"
                      name="sort_by"
                      value="distance"
                    />
                    <label class="custom-control-label" for="distance">
                      Distance
                    </label>
                  </div>
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#radius-collapse"
                role="button"
                aria-expanded="true"
                aria-controls="collapseExample"
              >
                <h5 class="museo dark-outline-1 px-2">
                  Search
                  <span style="white-space: nowrap;">
                    Radius <i class="fas fa-caret-down fa-xs text-dark"></i>
                  </span></h5
              ></a>
              <div class="collapse show text-dark" id="radius-collapse">
                <div class="form-group mb-0">
                  <div class="switch-wrapper pl-2">
                    <input
                      class="onChange form-check-input"
                      type="checkbox"
                      id="radius-check"
                      hidden
                    /><label
                      class="form-check-label noHoverCl"
                      for="radius-check"
                      id="radius-power-btn"
                    >
                      <i class="fas fa-power-off fa-lg"></i>
                      <span
                        class="form-num-display radiusDisplay ml-2 ml-sm-4 ml-lg-5 text-light bg-disabled"
                        >10</span
                      >
                      <span class="txt-whitesmoke">mi</span>
                    </label>
                  </div>
                  <div class="switch-wrapper px-2 noHoverBg">
                    <input
                      type="range"
                      class="custom-range onChange"
                      id="radius"
                      name="radius"
                      min="1000"
                      max="40000"
                      value="16094"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#attributes"
                role="button"
                aria-expanded="true"
                aria-controls="collapseExample"
              >
                <h5 class="museo dark-outline-1 px-2 mt-1">
                  <span style="white-space: nowrap;">
                    Attributes <i class="fas fa-caret-down fa-xs text-dark"></i>
                  </span></h5
              ></a>
              <div class="collapse show" id="attributes">
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input"
                      type="checkbox"
                      id="hot_and_new"
                      name="hot_and_new"
                      value="true"
                    />
                    <label class="custom-control-label" for="hot_and_new">
                      Hot and New!
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input"
                      type="checkbox"
                      id="reservation"
                      name="reservation"
                      value="true "
                    />
                    <label class="custom-control-label" for="reservation">
                      Yelp Reservations
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input"
                      type="checkbox"
                      id="cashback"
                      name="cashback"
                      value="true "
                    />
                    <label class="custom-control-label" for="cashback">
                      Yelp Cashback
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input"
                      type="checkbox"
                      id="deals"
                      name="deals"
                      value="true"
                    />
                    <label class="custom-control-label" for="deals">
                      Yelp Deals
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input"
                      type="checkbox"
                      id="gender_neutral_restrooms"
                      name="gender_neutral_restrooms"
                      value="true"
                    />
                    <label
                      class="custom-control-label"
                      for="gender_neutral_restrooms"
                    >
                      Gender Neutral Restrooms
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input"
                      type="checkbox"
                      id="open_to_all"
                      name="open_to_all"
                      value="true"
                    />
                    <label class="custom-control-label" for="open_to_all">
                      Open to All
                    </label>
                  </div>
                </div>
                <div class="switch-wrapper pl-2">
                  <div class="custom-control custom-switch">
                    <input
                      class="onChange custom-control-input"
                      type="checkbox"
                      id="wheelchair_accessible"
                      name="wheelchair_accessible"
                      value="true"
                    />
                    <label
                      class="custom-control-label"
                      for="wheelchair_accessible"
                    >
                      Wheelchair Accessible
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-1 bg-light p-0" id="scrl2">
            <div class="text-center list-group" id="first-list">
              {% for let, id in first_letters %}
              <a
                class="list-group-item list-group-item-action first-letter dark-outline-1"
                href="#{{id}}"
                >{{let}}</a
              >
              {% endfor %}
            </div>
          </div>
          <div
            class="col-5 col-lg-6 py-3 bg-light text-center p-0"
            id="scrl3"
            data-spy="scroll"
            data-target="#first-list"
            data-offset="10"
          >
            <div class="list-group" id="cat-btns">
              {% for show, category in YELP_CATEGORIES %}
              <button
                type="button"
                class="list-group-item list-group-item-action cat-btn dark-outline-1"
                value="{{category}}"
                id="{{show[0:3]}}"
              >
                {{show}}
              </button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col bg-stars1 card-map-zone">
        <div
          class="sidebar-toggle-btn pl-1 border border-secondary border-left-0 bg-trans-b"
        >
          <div class="arrow-wrapper dark-outline-1">
            <i class="fas fa-angle-double-left"></i>
            <i class="fas fa-angle-double-right d-none" aria-hidden="true"></i>
          </div>
        </div>

        <div class="filter-display rounded-bottom text-center">
          <span class="filter-icon-display filter-d-text">
            <i class="fas fa-filter fa-sm txt-orange mr-3 mt-1"></i>
          </span>
          <span class="cat-display filter-d-text"></span>
          <span class="keyword-display filter-d-text"></span>
        </div>

        <div class="card-track dragscroll" id="scrl4">
          <div class="card-track-inner"></div>
        </div>

        <div class="map-track border-top border-secondary">
          <div id="map" class="bg-map-red">
            <script src="../static/js/map.js"></script>
            <script>
              Map_Obj.renderMiniMap();
            </script>
          </div>
          <div class="map-directions mapBtns">
            <div class="drive flx-std">
              <i class="fas fa-car fa-2x"></i>
            </div>
            <div class="walk flx-std">
              <i class="fas fa-walking fa-2x"></i>
            </div>
            <div class="bike flx-std">
              <i class="fas fa-bicycle fa-2x"></i>
            </div>
          </div>
          <div
            class="map-toggle toggle-on-map showMap flx-std"
            data-toggle="tooltip"
            data-placement="top"
            title="Toggle map"
          >
            <i class="fas fa-map-marked-alt fa-2x"></i>
          </div>
          <div class="mapBtns">
            <div
              class="map-hide-cards toggleCards flx-std"
              data-toggle="tooltip"
              data-placement="top"
              title="Toggle Cards"
            >
              <i class="far fa-arrow-alt-circle-up fa-lg"></i>
              <i class="far fa-arrow-alt-circle-down fa-lg d-none"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODALS -->
  <div
    class="modal fade"
    id="tips"
    tabindex="-1"
    role="dialog"
    aria-labelledby="newUserModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title txt-orange museo" id="newUserModalLabel">
            Hey...
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="txt-lg mb-4 font-weight-bold">
            <em>It looks like you're new here.</em>
          </p>
          <p>
            You can use the detect location button to share your location. Or
            you can just enter a location.
          </p>
          <div
            class="flx-row-around width-100 bg-dark rounded mb-4"
            style="height: 50px;"
          >
            <div class="bg-light rounded p-2">
              <i class="fas fa-street-view"></i>
            </div>
            <div class="text-light tip-label">Detect Location</div>
          </div>
          <p>
            You can also click the clear all filters button to clear any search
            filters.
          </p>
          <div
            class="flx-row-around width-100 bg-dark rounded mb-3"
            style="height: 50px;"
          >
            <div class="bg-light rounded p-2">
              <i class="fas fa-recycle"></i>
            </div>
            <div class="text-light tip-label">Clear All Filters</div>
          </div>
          <div
            class="flx-row-around width-100 bg-dark rounded mb-4"
            style="height: 50px;"
          >
            <div class="bg-light rounded p-2">
              <i class="fas fa-filter txt-orange dark-outline-1"></i>
            </div>
            <div class="text-light tip-label">Filters Active Indicator</div>
          </div>
          <p class="txt-lg font-weight-bold">Map</p>
          <p>
            Try using the second mouse button or the Ctrl or Command button to
            rotate and/or tilt the map on desktop.
          </p>
          <p>
            On mobile putting two fingers on the screen and immediately sliding
            up or down changes the tilt.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary moreTips"
            data-dismiss="modal"
          >
            More Tips
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="tips-2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="newUserModalLabel2"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title txt-orange museo" id="newUserModalLabel2">
            Tips
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div
            class="flx-row-around width-100 bg-dark rounded mb-4"
            style="height: 50px;"
          >
            <div class="bg-trans-b rounded p-2 border border-secondary">
              <i class="fas fa-angle-double-left fa-lg"></i>
            </div>
            <div class="bg-trans-b rounded p-2 border border-secondary">
              <i class="fas fa-angle-double-right fa-lg"></i>
            </div>
            <div class="text-light tip-label">Toggle Sidebar</div>
          </div>
          <div
            class="flx-row-around width-100 bg-dark rounded mb-4"
            style="height: 50px;"
          >
            <div class="bg-white txt-333 rounded p-2">
              <i class="fas fa-map-marked-alt fa-lg"></i>
            </div>
            <div class="p-2 hidden">
              <i class="fas fa-map-marked-alt fa-lg"></i>
            </div>
            <div class="text-light tip-label">Toggle Map</div>
          </div>
          <div
            class="flx-row-around width-100 bg-dark rounded txt-333 mb-5"
            style="height: 50px;"
          >
            <div class="bg-white rounded p-2">
              <i class="far fa-arrow-alt-circle-up fa-lg"></i>
            </div>
            <div class="bg-white rounded p-2">
              <i class="far fa-arrow-alt-circle-down fa-lg"></i>
            </div>
            <div class="text-light tip-label">Toggle Cards</div>
          </div>
          <p class="text-lg">Recommended:</p>
          <p>
            On mobile save app to your home screen for best user experience. The
            permanent full-screen allows better interaction with the user
            interface.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  {% include '/include/include_mission_choices.html' %}
  <div
    class="modal fade p-0"
    id="business-detail-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="businessDetailTitle"
    aria-hidden="true"
  ></div>
  <!-- END MODALS -->
  <script>
    // remove "Open At" option when no browser datetime input.
    if (!Modernizr.inputtypes['datetime-local']) {
      document.querySelectorAll('.openAt').forEach(div => {
        div.style.display = 'none';
      });
    }
  </script>
  <script>
    // Globe amimation
    VANTA.GLOBE({
      el: '.hero-animation',
      mouseControls: true,
      touchControls: true,
      minHeight: 200.0,
      minWidth: 200.0,
      scale: 1.0,
      scaleMobile: 1.5,
      color: 0xbc7aa,
      color2: 0x8f8f8f,
      size: 1.0,
      backgroundColor: 0x0b105a,
    });
  </script>
  {% endblock %}
</main>
