{% extends 'base.html' %}

<title>
  {% block title %}Gastronaut{% endblock %}
</title>

<div>
  {% block head %}
  <link rel="stylesheet" href="../static/css/index.css" />
  <script src="../static/js/three.r95.min.js"></script>
  <script src="../static/js/vanta.globe.min.js"></script>
  <script defer src="../static/js/geolocate.js"></script>
  <script src="../static/js/modernizer.js"></script>
  <script defer src="../static/js/cards.js"></script>
  <script defer src="../static/js/index.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
  <script
    defer
    type="text/javascript"
    src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"
  ></script>
  <!--defer?-->
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css"
    rel="stylesheet"
  />
  {% endblock %}
</div>

<main>
  {% block main %}
  <div class="hero-animation">
    <div
      class="row justify-content-around align-items-center"
      style="height: 100%;"
    >
      <div class="col-5 text-center" style="font-size: 5px;">
        <h1 class="display-1-k txt-orange brand-outline">Gastronaut</h1>
        <h2 class="display-2-k lead-k">Explore the world of food.</h2>
        <a
          href="#main-interface"
          class="btn btn-lg btn-outline-success explore"
          data-toggle="tool-tip"
          title="Lock Control Panel View"
          >Explore</a
        >
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" id="main-interface">
      <div
        class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 bg-secondary control-panel"
      >
        <div class="row">
          <div class="col-6 col-lg-5 py-3 main-form-div" id="scrl1">
            <form action="#" id="main-form" class="txt-whitesmoke">
              <label class="sr-only" for="location">Location</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div
                    class="input-group-text jsPulser"
                    id="detect-location"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Detect Location"
                  >
                    <i
                      class="fas fa-street-view"
                      id="detect-location-glyph"
                    ></i>
                  </div>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="location"
                  name="location"
                  placeholder="Location"
                />
              </div>
              <label class="sr-only" for="search-term">Keywords</label>
              <div class="input-group mb-2 mr-sm-2">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="search-term"
                  name="term"
                  placeholder="Keywords"
                />
                <div
                  class="input-group-append"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Clear All Filters"
                >
                  <div class="input-group-text jsPulser" id="clear-filters">
                    <i class="fas fa-recycle"></i>
                  </div>
                </div>
              </div>
              <div class="">
                <label class="m-0" for="">Found</label>
                <span
                  class="form-num-display resultsCount ml-1 ml-sm-4 text-light"
                  >0</span
                >
                <span class="filter-icon-display">
                  <i class="fas fa-filter txt-orange ml-2 ml-md-3"></i>
                </span>
              </div>

              <a
                data-toggle="collapse"
                href="#timing-group"
                role="button"
                aria-expanded="true"
                aria-controls="timing-group"
              >
                <h5 class="museo">Timing</h5></a
              >
              <div class="collapse show" id="timing-group">
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input"
                    type="checkbox"
                    id="open_now"
                    name="open_now"
                    value="true"
                  />
                  <label class="custom-control-label" for="open_now">
                    Open Now
                  </label>
                </div>
                <div class="custom-control custom-switch openAt">
                  <input
                    class="onChange custom-control-input"
                    type="checkbox"
                    id="open-at"
                    value="true"
                  />
                  <label class="custom-control-label" for="open-at">
                    Open At
                  </label>
                </div>
                <div class="input-group mb-2 mr-sm-2 openAt">
                  <input
                    type="datetime-local"
                    class="onChange form-control form-control-sm"
                    id="open_at"
                    name="open_at"
                    disabled
                  />
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#interface-group"
                role="button"
                aria-expanded="true"
                aria-controls="interface-group"
              >
                <h5 class="museo">Interface</h5></a
              >
              <div class="collapse show" id="interface-group">
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input interface"
                    type="checkbox"
                    value="delivery"
                    id="delivery"
                  />
                  <label class="custom-control-label" for="delivery">
                    Delivery
                  </label>
                </div>
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input interface"
                    type="checkbox"
                    value="pickup"
                    id="pickup"
                  />
                  <label class="custom-control-label" for="pickup">
                    Pickup
                  </label>
                </div>
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input interface"
                    type="checkbox"
                    value="restaurant_reservation"
                    id="restaurant_reservation"
                  />
                  <label
                    class="custom-control-label"
                    for="restaurant_reservation"
                  >
                    Reservations
                  </label>
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#price-group"
                role="button"
                aria-expanded="true"
                `
                aria-controls="price-group"
              >
                <h5 class="museo">Price</h5></a
              >
              <div class="collapse show text-dark" id="price-group">
                <div class="form-check p-0 txt-green dark-green-outline">
                  <input
                    class="onChange form-check-input"
                    type="checkbox"
                    value="1"
                    id="price-1"
                    name="price-1"
                    checked
                    hidden
                  />
                  <label class="form-check-label" for="price-1">
                    <i class="fas fa-dollar-sign"></i>
                  </label>
                </div>
                <div class="form-check p-0 txt-green dark-green-outline">
                  <input
                    class="onChange form-check-input"
                    type="checkbox"
                    value="2"
                    id="price-2"
                    name="price-2"
                    checked
                    hidden
                  />
                  <label class="form-check-label" for="price-2">
                    <i class="fas fa-dollar-sign mr-1"></i
                    ><i class="fas fa-dollar-sign mr-1"></i>
                  </label>
                </div>
                <div class="form-check p-0 txt-green dark-green-outline">
                  <input
                    class="onChange form-check-input"
                    type="checkbox"
                    value="3"
                    id="price-3"
                    name="price-3"
                    checked
                    hidden
                  />
                  <label class="form-check-label" for="price-3">
                    <i class="fas fa-dollar-sign mr-1"></i
                    ><i class="fas fa-dollar-sign mr-1"></i
                    ><i class="fas fa-dollar-sign mr-1"></i>
                  </label>
                </div>
                <div class="form-check p-0 txt-green dark-green-outline">
                  <input
                    class="onChange form-check-input"
                    type="checkbox"
                    value="4"
                    id="price-4"
                    name="price-4"
                    checked
                    hidden
                  />
                  <label class="form-check-label" for="price-4">
                    <i class="fas fa-dollar-sign mr-1"></i
                    ><i class="fas fa-dollar-sign mr-1"></i
                    ><i class="fas fa-dollar-sign mr-1"></i
                    ><i class="fas fa-dollar-sign mr-1"></i>
                  </label>
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#sort-by-group"
                role="button"
                aria-expanded="true"
                aria-controls="sort-by-group"
              >
                <h5 class="museo">Sort By</h5></a
              >
              <div class="collapse show" id="sort-by-group">
                <div class="custom-control custom-radio">
                  <input
                    class="onChange custom-control-input"
                    type="radio"
                    id="best_match"
                    name="sort_by"
                    value="best_match"
                    checked
                  />
                  <label class="custom-control-label" for="best_match">
                    Best Match
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="onChange custom-control-input"
                    type="radio"
                    id="rating"
                    name="sort_by"
                    value="rating"
                  />
                  <label class="custom-control-label" for="rating">
                    Rating
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="onChange custom-control-input"
                    type="radio"
                    id="review_count"
                    name="sort_by"
                    value="review_count"
                  />
                  <label class="custom-control-label" for="review_count">
                    Review Count
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="onChange custom-control-input"
                    type="radio"
                    id="distance"
                    name="sort_by"
                    value="distance"
                  />
                  <label class="custom-control-label" for="distance">
                    Distance
                  </label>
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#radius-collapse"
                role="button"
                aria-expanded="true"
                aria-controls="collapseExample"
              >
                <h5 class="museo">Search Radius</h5></a
              >
              <div class="collapse show" id="radius-collapse">
                <div class="form-group mb-0">
                  <div class="">
                    <input
                      class="onChange form-check-input"
                      type="checkbox"
                      id="search-check"
                      hidden
                    /><label class="form-check-label" for="search-check">
                      <i class="fas fa-power-off fa-lg"></i>
                      <span
                        class="form-num-display radiusDisplay ml-1 ml-sm-4 text-light bg-disabled ml-5"
                        >10</span
                      >
                      <span class="txt-whitesmoke">mi</span>
                    </label>
                  </div>
                  <input
                    type="range"
                    class="custom-range onChange"
                    id="radius"
                    name="radius"
                    min="1000"
                    max="40000"
                    value="16094"
                    disabled
                  />
                </div>
              </div>
              <a
                data-toggle="collapse"
                href="#attributes"
                role="button"
                aria-expanded="true"
                aria-controls="collapseExample"
              >
                <h5 class="museo">Attributes</h5></a
              >
              <div class="collapse show" id="attributes">
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input"
                    type="checkbox"
                    id="hot_and_new"
                    name="hot_and_new"
                    value="true"
                  />
                  <label class="custom-control-label" for="hot_and_new">
                    Hot and New!
                  </label>
                </div>
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input"
                    type="checkbox"
                    id="reservation"
                    name="reservation"
                    value="true "
                  />
                  <label class="custom-control-label" for="reservation">
                    Yelp Reservations
                  </label>
                </div>
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input"
                    type="checkbox"
                    id="cashback"
                    name="cashback"
                    value="true "
                  />
                  <label class="custom-control-label" for="cashback">
                    Yelp Cashback
                  </label>
                </div>
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input"
                    type="checkbox"
                    id="deals"
                    name="deals"
                    value="true"
                  />
                  <label class="custom-control-label" for="deals">
                    Yelp Deals
                  </label>
                </div>

                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input"
                    type="checkbox"
                    id="gender_neutral_restrooms"
                    name="gender_neutral_restrooms"
                    value="true"
                  />
                  <label
                    class="custom-control-label"
                    for="gender_neutral_restrooms"
                  >
                    Gender Neutral Restrooms
                  </label>
                </div>
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input"
                    type="checkbox"
                    id="open_to_all"
                    name="open_to_all"
                    value="true"
                  />
                  <label class="custom-control-label" for="open_to_all">
                    Open to All
                  </label>
                </div>
                <div class="custom-control custom-switch">
                  <input
                    class="onChange custom-control-input"
                    type="checkbox"
                    id="wheelchair_accessible"
                    name="wheelchair_accessible"
                    value="true"
                  />
                  <label
                    class="custom-control-label"
                    for="wheelchair_accessible"
                  >
                    Wheelchair Accessible
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="col-1 bg-light p-0" id="scrl2">
            <div class="text-center list-group" id="first-list">
              {% for let in first_letters %}
              <a
                class="list-group-item list-group-item-action first-letter"
                href="#{{let}}"
                >{{let}}</a
              >
              {% endfor %}
            </div>
          </div>
          <div
            class="col-5 col-lg-6 py-3 bg-light text-center p-0"
            id="scrl3"
            data-spy="scroll"
            data-target="#first-list"
            data-offset="10"
          >
            <div class="list-group" id="cat-btns">
              {% for show, category in yelp_categories %}
              <button
                type="button"
                class="list-group-item list-group-item-action cat-btn"
                value="{{category}}"
                id="{{show[0]}}"
              >
                {{show}}
              </button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col bg-stars1 card-map-zone">
        <div class="sidebar-toggle-btn txt-whitesmoke pl-1">
          <div class="arrow-wrapper toggle-outline toggle-outline-mobile">
            <i class="fas fa-angle-double-left" aria-hidden="true"></i>
            <i class="fas fa-angle-double-right d-none" aria-hidden="true"></i>
          </div>
        </div>

        <div
          class="filter-display bg-secondary rounded-bottom opaque text-center d-none"
        >
          <span class="filter-icon-display filter-d-text">
            <i class="fas fa-filter fa-sm txt-orange mr-3 mt-1"></i>
            <!-- <img
              src="../static/images/settings.png"
              class="mr-3"
              alt="filters set icon"
            /> -->
          </span>
          <span class="cat-display filter-d-text"></span>
          <span class="keyword-display filter-d-text"></span>
        </div>

        <div class="card-track dragscroll" id="scrl4">
          <div class="card-track-inner"></div>
        </div>

        <div class="bg-light map-track border-top border-secondary">
          <div id="map" class="">
            <script src="../static/js/map.js"></script>
          </div>
          <div
            class="map-info"
            data-toggle="tooltip"
            data-placement="top"
            title="Hold ctrl/cmnd to tilt and rotate map with mouse drag"
          >
            <i class="fas fa-info-circle toggle-outline"></i>
          </div>
          <div
            class="map-close top-10 showMap txt-whitesmoke"
            data-toggle="tooltip"
            data-placement="top"
            title="Toggle map"
          >
            <i class="fas fa-map-marked-alt fa-2x toggle-outline"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // remove "Open At" option when no browser datetime input.
    if (!Modernizr.inputtypes['datetime-local']) {
      document.querySelectorAll('.openAt').forEach(div => {
        div.style.display = 'none';
      });
    }
  </script>
  <script>
    // Globe amimation
    VANTA.GLOBE({
      el: '.hero-animation',
      mouseControls: true,
      touchControls: true,
      minHeight: 200.0,
      minWidth: 200.0,
      scale: 1.0,
      scaleMobile: 1.0,
      color: 0x3bdb53,
      size: 1.4,
      backgroundColor: 0x1d0842,
    });
  </script>
  {% endblock %}
</main>
