{% extends 'base.html' %}

<title>
  {% block title %}Mission Control{% endblock %}
</title>

<div>
  {% block head %}
  <meta
    name="description"
    content="Missions control for Gastronaut missions."
  />
  <meta
    name="google-site-verification"
    content="YPEc32npJcPQVaehmJQNayHLdC8eXBWeOUzEuHGQyts"
  />
  <link rel="stylesheet" href="../static/css/index.css" />
  <link rel="stylesheet" href="../static/css/mission_control.css" />
  <!-- <script defer src="../static/js/geolocate.js"></script> -->
  <!-- <script src="../static/js/modernizer.js"></script> -->
  <script defer src="../static/js/cards.js"></script>
  <script defer src="../static/js/animations.js"></script>
  <script defer src="../static/js/api_functs.js"></script>
  <!-- <script defer src="../static/js/index.js"></script> -->

  <script defer src="../static/js/missionControl.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
  <!-- <script
    defer
    type="text/javascript"
    src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"
  ></script> -->
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css"
    rel="stylesheet"
  />
  {% endblock %}
</div>

<main>
  {% block main %}
  <div id="map" style="position: absolute;">
    <script src="../static/js/map.js"></script>
    <script>
      mappyBoi = renderMiniMap([-85, 26.8], 2.5);
    </script>
  </div>
  <div
    class="sidebar-toggle-btn pl-1 border border-secondary border-left-0 bg-trans-b"
  >
    <div class="arrow-wrapper black-outline-1">
      <i class="fas fa-angle-double-left"></i>
      <i class="fas fa-angle-double-right d-none" aria-hidden="true"></i>
    </div>
  </div>
  <div class="container-fluid ssp" id="main-interface">
    <div class="row">
      <div class="col-11 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-5 info-col">
        <div class="bg-trans-b2 rounded px-2 py-1 mt-2 txt-white-k mb-1">
          <p for="mission-select" class="mb-1">
            <a
              class="txt-orange"
              data-toggle="collapse"
              href="#mission-select-form"
              role="button"
              aria-expanded="true"
              aria-controls="mission-select-form"
            >
              Mission Select
              <i class="fas fa-caret-down fa-xs text-dark ml-2"></i>
            </a>
            <span class="text-dark txt-smlr ml-3" id="likes-zone"></span>
            <span class="text-dark"></span>
            <button
              id="create-mission-btn"
              class="btn btn-sm btn-outline-primary ssp float-right"
            >
              <b>Create New Mission</b>
            </button>
          </p>

          <form
            name="mission-select-form"
            id="mission-select-form"
            class="collapse show"
          >
            <div class="form-group mb-1">
              <select
                name="mission-select"
                id="mission-select"
                class="custom-select custom-select-sm museo"
              >
                {% for mission in missions %}
                <option value="{{mission.id}}">{{mission.name}}</option>
                {% endfor %}
              </select>
            </div>
          </form>
        </div>
        <div
          class="bg-trans-b2 rounded px-2 py-1 pb-lg-2 txt-white-k mb-1"
          id="mission-panel"
        >
          <a
            class="txt-orange"
            data-toggle="collapse"
            href="#mission-form"
            role="button"
            aria-expanded="false"
            aria-controls="mission-form"
          >
            Details
            <i class="fas fa-caret-down fa-xs text-dark ml-2"></i>
          </a>
        </div>
        <div
          class="bg-trans-b2 rounded px-0 pt-1 txt-white-k"
          id="businesses-panel"
        >
          <a
            class="txt-orange ml-2"
            data-toggle="collapse"
            href="#businesses-list"
            role="button"
            aria-expanded="false"
            aria-controls="mission-form"
          >
            Mission Goals
            <i class="fas fa-caret-down fa-xs text-dark ml-2"></i>
          </a>
          <ul
            id="businesses-list"
            class="collapse list-group bg-dark txt-light"
          ></ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Modals! -->
  <div
    class="modal fade"
    id="deleteMissionModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteMissionModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title txt-orange" id="deleteMissionModalLabel">
            Delete Mission
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-inline">
          <div class="modal-body">
            <p class="txt-white-k">
              Are you sure you want to delete this mission?
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>

            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="modal fade p-0"
    id="business-detail-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="businessDetailTitle"
    aria-hidden="true"
  ></div>
  {% endblock %}
</main>
