{% extends 'base.html' %}

<title>
  {% block title %}Mission{% endblock %}
</title>

<head>
  {% block head %}
  <meta
    name="description"
    content="Explore a gastronomical mission. Users create and share themed missions of local flavor to experience. Check it out!"
  />
  <link rel="stylesheet" href="/static/css/reports.css" />
  <link rel="stylesheet" href="/static/css/common1.css" />
  <style>
    .card-columns {
      column-count: 1;
    }
  </style>
  <script defer src="/static/js/cards.js"></script>
  <script defer src="/static/js/apiFuncts.js"></script>
  <script defer src="/static/js/navRocket.js"></script>
  {% endblock %}
</head>

<main>
  {% block main %}
  <div class="spinner-zone flx-std rounded-bottom" style="display: none;">
    <div class="spinner-border txt-green" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div id="main-hero" class="flx-std">
    <h1 class="display-1-k museo orange-outline">Explore Mission</h1>
  </div>
  <div class="middle-gap py-3 px-5 py-sm-1 p-lg-0 flx-std">
    <a href="/user/profile/{{user.id}}">
      <h4 class="txt-orange brand-outline mr-5">
        <em>@{{user.username}}</em>
      </h4>
    </a>
  </div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 mt-md-1 mt-lg-5">
        {%include "include/include_mission_cards.html" with context %}
      </div>
    </div>
  </div>
  <div class="toasts-zone" aria-live="polite" aria-atomic="true"></div>
  {% include 'include/include_signup_login_modal.html' with context %} {%
  include '/include/include_mission_choices.html' %}
  <div
    class="modal fade p-0"
    id="business-detail-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="businessDetailTitle"
    aria-hidden="true"
  ></div>
  {% endblock %}
</main>
