{% extends 'base.html' %}

<title>
  {% block title %}Mission Control{% endblock %}
</title>

<div>
  {% block head %}
  <meta
    name="description"
    content="Missions control for Gastronaut missions."
  />
  <meta
    name="google-site-verification"
    content="YPEc32npJcPQVaehmJQNayHLdC8eXBWeOUzEuHGQyts"
  />
  <link rel="stylesheet" href="../static/css/common1.css" />
  <link rel="stylesheet" href="../static/css/index.css" />
  <link rel="stylesheet" href="../static/css/mission_control.css" />
  <!-- <script defer src="../static/js/geolocate.js"></script> -->
  <script defer src="../static/js/cards.js"></script>
  <script defer src="../static/js/api_functs.js"></script>
  <script defer src="../static/js/missionControl.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css"
    rel="stylesheet"
  />
  {% endblock %}
</div>

<main>
  {% block main %}
  <div id="map" style="position: absolute;">
    <script src="../static/js/map.js"></script>
    <script>
      mappyBoi = renderMiniMap([-85, 26.8], 2.5);
    </script>
  </div>
  <div class="spinner-zone flx-std rounded-bottom" style="display: none;">
    <div class="spinner-border txt-green" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div
    class="sidebar-toggle-btn border border-primary border-left-0 bg-trans-b"
  >
    <div class="arrow-wrapper black-outline-1">
      <i class="fas fa-angle-double-left"></i>
      <i class="fas fa-angle-double-right d-none" aria-hidden="true"></i>
    </div>
  </div>
  <div class="container-fluid ssp" id="main-interface">
    <div class="row">
      <div
        class="col-11 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-5 bg-trans-b0 p-0 mt-2 ml-4 rounded border border-light"
        id="info-col"
      >
        <div
          class="bg-secondary hoverOpaque border-bottom border-light rounded-top"
        >
          <div for="mission-select" class="flx-row-between">
            <a
              class="text-success font-weight-bold hoverUnset panel-toggle"
              data-toggle="collapse"
              href="#mission-select-form"
              role="button"
              aria-expanded="true"
              aria-controls="mission-select-form"
            >
              Mission Select
              <i class="fas fa-caret-down fa-xs text-dark ml-1"></i>
            </a>
            <span>
              <span
                class="text-dark txt-smlr black-outline-1"
                id="likes-zone"
                data-toggle="tool-tip"
                title="Like Mission"
              ></span>
              <span class="text-dark" name="likes-count"></span>
            </span>
            <span class="mapAll" data-toggle="tooltip" title="Map All">
              <i
                class="fas fa-map-marked-alt brand-outline txt-orange iconBtn"
              ></i>
            </span>
            <span class="" data-toggle="tooltip" title="Write Report"
              ><a id="write-mission-report">
                <i class="fas fa-pen-alt brand-outline txt-orange iconBtn"></i>
              </a>
            </span>
            <button
              id="create-mission-btn"
              class="btn btn-sm btn-primary-alt ssp px-1 px-sm-0 px-md-2 px-xl-0 mr-2 bg-trans-b2 txt-white"
            >
              <b>Create New Mission</b>
            </button>
          </div>

          <form
            name="mission-select-form"
            id="mission-select-form"
            class="collapse show mx-2 mt-1 mb-2"
          >
            <div class="form-group mb-1">
              <select
                name="mission-select"
                id="mission-select"
                class="custom-select custom-select-sm museo"
              >
                {% for mission in missions %}
                <option value="{{mission.id}}">{{mission.name}}</option>
                {% endfor %}
              </select>
            </div>
          </form>
        </div>
        <div
          class="txt-white-k border-bottom border-light hoverOpaque"
          id="mission-detail-panel"
        >
          <a
            class="text-success font-weight-bold hoverUnset"
            data-toggle="collapse"
            href="#mission-form"
            role="button"
            aria-expanded="false"
            aria-controls="mission-form"
            ><div>
              <span class="panel-toggle"
                >Details <i class="fas fa-caret-down fa-xs text-dark ml-2"></i
              ></span>
            </div>
          </a>
        </div>
        <div class="px-0 rounded-bottom" id="businesses-panel">
          <a
            class="text-success font-weight-bold hoverUnset"
            data-toggle="collapse"
            href="#businesses-list"
            role="button"
            aria-expanded="false"
            aria-controls="mission-form"
          >
            <div class="hoverOpaque">
              <span class="panel-toggle"
                >Mission Goals
                <i class="fas fa-caret-down fa-xs text-dark ml-2"></i
              ></span>
            </div>
          </a>
          <ul
            id="businesses-list"
            class="collapse list-group txt-white black-outline"
          ></ul>
        </div>
      </div>
    </div>
  </div>
  <div class="toasts-zone" aria-live="polite" aria-atomic="true"></div>
  <!-- Modals! -->
  <div
    class="modal fade"
    id="deleteMissionModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteMissionModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title txt-orange" id="deleteMissionModalLabel">
            Delete Mission
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-inline">
          <div class="modal-body">
            <p class="txt-white-k">
              Are you sure you want to delete this mission?
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>

            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="removeMissionModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="removeMissionModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title txt-orange" id="removeMissionModalLabel">
            Remove Mission
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-inline">
          <div class="modal-body">
            <p class="txt-white-k">
              Are you sure you want to remove this mission from your missions?
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>

            <button type="submit" class="btn btn-danger">Remove</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="modal fade p-0"
    id="business-detail-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="businessDetailTitle"
    aria-hidden="true"
  ></div>
  {% include '/include/include_mission_choices.html' %} {% endblock %}
</main>
