{% extends 'base.html' %}

<title>
  {% block title %}Gastronaut - Report{% endblock %}
</title>

<head>
  {% block head %}
  <meta
    name="description"
    content="Read user report on restaurants, bars, and more. Find out what other gastronauts really think."
  />
  <link rel="stylesheet" href="/static/css/reports.css" />
  <script defer src="/static/js/likes.js"></script>
  {% endblock %}
</head>

<main>
  {% block main %}

  <div id="main-hero" class="flx-std">
    <h1 class="display-1-k museo orange-outline">Mission Reports</h1>
  </div>

  <div class="middle-gap py-3 px-5 p-sm-0 flx-std">
    <a href="/user/profile/{{report.user.id}}">
      <h3 class="txt-orange brand-outline">
        <em>@{{report.user.username}}</em>
      </h3>
    </a>
  </div>

  <div class="container">
    <div class="row mb-5">
      <div class="col-12 p-0">
        <section class="text-center mt-3 mt-md-5 txt-white-k">
          <div
            class="card card-full-width d-inline-block m-2 text-left px-lg-5"
          >
            <div class="card-header">
              {% if report.business_id %}
              <h5 class="card-title font-weight-bold">
                {{report.business.name}}
              </h5>
              <h5 class="lead txt-green"><small>Business</small></h5>
              {% else %}
              <h5 class="card-title font-weight-bold">
                {{report.mission.name}}
              </h5>
              <h5 class="lead txt-green"><small>Mission</small></h5>
              {% endif %}
              <p class="card-text">
                <a href="/user/profile/{{report.user.id}}">
                  <em class="txt-orange"> by @{{report.user.username}}</em>
                </a>
              </p>
            </div>
            <div class="card-body">
              {% for p in report.text.split('\n') %}
              <p>{{p}}</p>
              {% endfor %}
            </div>
            <div class="card-footer">
              {% if not g.user %}
              <button
                type="button"
                class="like-button text-primary"
                data-toggle="modal"
                data-target="#signupModal"
              >
                <i class="far fa-thumbs-up fa-lg"></i>
              </button>
              {% elif report.user_id == g.user.id %}
              <i class="fas fa-thumbs-up fa-lg text-primary"></i>
              {% else %}
              <a
                href="#"
                class="card-link like-report"
                data-report_id="{{report.id}}"
              >
                <span class="">
                  {% if g.user.id in report.likes %}
                  <i class="fas fa-thumbs-up fa-lg"></i>
                  <i class="far fa-thumbs-up fa-lg" style="display: none;"></i>
                  {% else %}
                  <i class="far fa-thumbs-up fa-lg"></i>
                  <i class="fas fa-thumbs-up fa-lg" style="display: none;"></i>
                  {% endif %}
                </span>
              </a>
              {% endif %}
              <span class="px-3 text-dark likes">
                {{ report.likes | length}}
              </span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  {% include 'include/include_signup_login_modal.html' with context %} {%
  endblock %}
</main>
