{% extends 'base.html' %} {% from 'macros/select_active_sort.html' import
select_sort with context %}

<title>
  {% block title %}Gastronaut - Reports{% endblock %}
</title>

<head>
  {% block head %}
  <meta
    name="description"
    content="Read user reports on restaurants, bars, and more. Find out what other gastronauts really think."
  />
  <link rel="stylesheet" href="/static/css/reports.css" />
  <link rel="stylesheet" href="/static/css/common1.css">
  <script defer src="/static/js/likes.js"></script>
  {% endblock %}
</head>

<main>
  {% block main %}

  <div id="main-hero" class="flx-std">
    <h1 class="display-1-k museo orange-outline">Mission Reports</h1>
  </div>
  <div class="middle-gap py-3 px-5 py-sm-1 p-lg-0">
    <form
      action="/reports"
      method="GET"
      class="form-inline filter-form flx-std"
    >
      <label for="sortby" class="sr-only">Sort By</label>
      <select
        class="custom-select custom-select-sm mx-1 mr-sm-1 mr-md-3 mr-lg-4 mb-1 my-sm-1"
        id="sortby"
        name="sort_by"
      >
        <option value="recent" {{ select_sort('recent') }}>Most Recent</option>
        <option value="oldest" {{ select_sort('oldest') }}>Oldest</option>
        <option value="likes" {{ select_sort('likes') }}>Most Likes</option>
      </select>

      <label for="city" class="sr-only">City</label>
      <input
        type="text"
        class="form-control form-control-sm mx-1 mr-sm-1 mr-md-2 mb-1 my-sm-1"
        placeholder="City"
        name="city"
        maxlength="55"
        value="{{form_data.get('city', '')}}"
      />
      <label for="search-term" class="sr-only">State</label>
      <input
        type="text"
        class="form-control form-control-sm mx-1 mr-sm-1 mr-md-2 mb-1 my-sm-1"
        placeholder="State"
        name="state"
        pattern="^[A-Za-z]{2}$"
        maxlength="2"
        value="{{form_data.get('state', '')}}"
      />
      <label for="search-term" class="sr-only">Country</label>
      <input
        type="text"
        class="form-control form-control-sm mx-1 mr-sm-1 mr-md-3 mr-lg-4 mb-1 my-sm-1"
        placeholder="Country"
        name="country"
        maxlength="2"
        value="{{form_data.get('country', '')}}"
      />
      <label for="search-term" class="sr-only">Keywords</label>
      <input
        type="text"
        class="form-control form-control-sm mx-1 mb-1 my-sm-1"
        placeholder="Keywords"
        name="keywords"
        value="{{form_data.get('keywords', '')}}"
      />
      <button
        type="submit"
        class="btn btn-sm btn-outline-success ml-sm-3 ml-lg-4 mt-2 mt-sm-0"
      >
        Search
      </button>
    </form>
  </div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 mt-md-1 mt-lg-5">
        {% include "include/include_report_card.html" with context %}
      </div>
    </div>
  </div>
  {% include 'include/include_signup_login_modal.html' with context %} {%
  endblock %}
</main>
