{% extends 'base.html' %}

<title>
  {% block title %}Gastronaut - Report{% endblock %}
</title>

<head>
  {% block head %}
  <meta
    name="description"
    content="Read user report on restaurants, bars, and more. Find out what other gastronauts really think."
  />
  <link rel="stylesheet" href="/static/css/reports.css" />
  <link rel="stylesheet" href="/static/css/common1.css" />
  <script defer src="/static/js/likes.js"></script>
  <style>
    .card-columns {
      column-count: 1;
    }
  </style>
  {% endblock %}
</head>

<main>
  {% block main %}

  <div id="main-hero" class="flx-std">
    <h1 class="display-1-k museo orange-outline">Mission Report</h1>
  </div>

  <div class="middle-gap py-3 px-5 p-sm-0 flx-std">
    <a href="/user/profile/{{reports[0].user.id}}">
      <h3 class="txt-orange brand-outline">
        <em>@{{reports[0].user.username}}</em>
      </h3>
    </a>
  </div>

  <div class="container">
    <div class="row mb-5">
      <div class="col-12 p-0 mt-1 mt-lg-5 report">
        {% include 'include/include_report_card.html' with context %}
      </div>
    </div>
  </div>
  {% include 'include/include_signup_login_modal.html' with context %} {%
  endblock %}
</main>
