{% extends 'base.html' %}

<head>
  {% block head %}
  <link rel="stylesheet" href="/static/css/detail_user.css">
  {% endblock %}
</head>

<main>
  {% block main %}
  <div
    id="warbler-hero"
    class="full-width"
    style="
      background: url('{{ user.get_banner }}'),url('/static/images/stars2.jpg'), black;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  ></div>
  <div class="row full-width">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-3 avatar-col text-center">
          <div
            style="background: url('{{ user.get_avatar }}'); background-position: center;
            background-size: cover;
            background-repeat: no-repeat;"
            id="profile-avatar"
          /></div>
          <div class="txt-whitesmoke">
            <h4 id="sidebar-username">@{{ user.username }}</h4>
            <p>{{user.bio}}</p>
            <div class="user-location text-left d-inline-block text-dark">
              <span class="fa fa-map-marker fa-2x"></span>
              <span class="location">{{user.city}}, {{user.state}}</span>
              <br>
              <span class="location">{{user.country}}</span>
            </div>
          </div>
        </div>
        <div class="col-9 text-right">
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Missions Created</p>
              <h4>
                <a href="/mission-control"
                  >{{ user.my_missions | length }}</a
                >
              </h4>
            </li>
            <li class="stat">
              <p class="small">Missions Total</p>
              <h4>
                <a href="/mission-control"
                  >{{ user.missions | length }}</a
                >
              </h4>
            </li>
            <li class="stat">
              <p class="small">Reports</p>
              <h4>
                <a href="#">{{ user.reports | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Gastronaut Groups</p>
              <h4>
                <a href="#">0</a>
              </h4>
            </li>
            <div class="ml-5">
              {% if g.user.id == user.id %}
              <a href="/user/edit" class="btn btn-outline-primary"
                >Edit Profile</a
              >          
                <button class="btn btn-outline-danger ml-2" type="button" data-toggle="modal" data-target="#deleteUserModal">
                  Delete Profile
                </button>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title txt-orange" id="deleteUserModalLabel">Delete User Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete your account?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form method="POST" action="/user/delete" class="form-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</main>
