{% extends 'base.html' %}

<title>
  {% block title %}User Profile{% endblock %}
</title>

<head>
  {% block head %}
  <meta name="description" content="Gastronaut user profile." />
  <link rel="stylesheet" href="/static/css/common1.css" />
  <link rel="stylesheet" href="/static/css/detail_user.css" />
  <script defer src="/static/js/cards.js"></script>
  <script defer src="/static/js/apiFuncts.js"></script>
  <script defer src="/static/js/navRocket.js"></script>
  {% endblock %}
</head>

<main>
  {% block main %}
  <div class="spinner-zone flx-std rounded-bottom" style="display: none;">
    <div class="spinner-border txt-green" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div
    id="main-hero"
    class=""
    style="background: url({{user.get_banner}}); background-position: center; background-size: cover;"
  ></div>
  <div class="middle-gap"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-sm-3 avatar-col text-center">
        <div
          style="background: url('{{ user.get_avatar }}'); background-position: center;
              background-size: cover;"
          id="profile-avatar"
        ></div>
        <div class="">
          <h4
            id="sidebar-username"
            class="txt-orange brand-outline font-italic"
          >
            @{{ user.username }}
          </h4>
          <p class="txt-green byline pl-3 pl-sm-0">
            {{user.byline or 'A short snippet about you'}}
          </p>

          <div class="user-location text-left d-inline-block">
            <div class="fa fa-map-marker fa-2x txt-green d-inline-block"></div>
            <div class="location text-dark d-inline-block">
              {{user.city or 'Someplace'}}, {{user.state or 'Somewhere'}}
            </div>
            <br />
            <div class="location text-dark">
              {{user.country or 'Some Country'}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9 text-right">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small txt-white-k">Missions Created</p>
            <h4>
              {% if g.user == user %}
              <a href="/mission-control">{{ user.my_missions | length }}</a>
              {% else %}
              <span class="text-primary">{{ user.my_missions | length }}</span>
              {% endif %}
            </h4>
          </li>
          <li class="stat">
            <p class="small txt-white-k">Missions Total</p>
            <h4>
              {% if g.user == user %}
              <a href="/mission-control">{{ user.missions | length }}</a>
              {% else %}
              <span class="text-primary">{{ user.missions | length }}</span>
              {% endif %}
            </h4>
          </li>
          <li class="stat">
            <p class="small txt-white-k">Reports</p>
            <h4>
              <span class="text-primary">{{ user.reports | length }}</span>
            </h4>
          </li>
          <li class="stat">
            <p class="small txt-white-k">Gastronaut Groups</p>
            <h4>
              <span class="text-primary">0</span>
            </h4>
          </li>
          <li class="li-edit ml-0 ml-md-3 ml-lg-5 mb-2 mb-md-0">
            {% if g.user.id == user.id %}
            <a
              href="/user/edit"
              class="btn btn-outline-primary mt-1 mt-sm-3 mt-md-0 rounded-pill"
              >Edit Profile</a
            >
            {% endif %}
          </li>
        </ul>
        <div class="col col-lg-9">
          <section class="bio-section text-left mt-3 mt-md-5 txt-white-k">
            {% if user.bio %} {% for p in user.bio.split('\n') %}
            <p>{{p}}</p>
            {% endfor %} {% else %}
            <p>Your user bio goes here.</p>
            <p>500 characters maximum.</p>
            {% endif %}
          </section>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-sm-3 px-5 p-sm-0 mt-3 mb-4">
        <div
          class="nav flex-column nav-pills"
          id="pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link active museo txt-lg"
            id="pills-missions-tab"
            data-toggle="pill"
            href="#missions-tab"
            role="tab"
            aria-controls="missions-tab"
            aria-selected="true"
          >
            <div class="no-wrap">
              Missions {% if missions %}<i
                class="far fa-check-square fa-xs ml-2"
              ></i
              >{% endif %}
            </div>
          </a>
          <a
            class="nav-link museo txt-lg"
            id="pills-reports-tab"
            data-toggle="pill"
            href="#reports-tab"
            role="tab"
            aria-controls="reports-tab"
            aria-selected="false"
            >Mission
            <div class="d-inline-block">
              Reports {% if user.reports %}<i
                class="far fa-check-square fa-xs ml-2"
              ></i
              >{% endif %}
            </div>
          </a>
        </div>
      </div>

      <div class="col-12 col-sm-9">
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="missions-tab"
            role="tabpanel"
            aria-labelledby="missions-tab"
          >
            {%include "include/include_mission_cards.html" with context %}
          </div>
          <div
            class="tab-pane fade"
            id="reports-tab"
            role="tabpanel"
            aria-labelledby="reports-tab"
          >
            {% include "include/include_report_cards.html" with context %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toasts-zone" aria-live="polite" aria-atomic="true"></div>
  {% include 'include/include_signup_login_modal.html' with context %} {%
  include '/include/include_mission_choices.html' %}
  <div
    class="modal fade p-0"
    id="business-detail-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="businessDetailTitle"
    aria-hidden="true"
  ></div>
  {% endblock %}
</main>
